# Motor Vehicle Collisions -- Data Profiling and Data Cleaning

## Dataset and Streams

The [Motor Vehicle Collisions](https://data.cityofnewyork.us/Public-Safety/Motor-Vehicle-Collisions-Crashes/h9gi-nx95) dataset contains information from all police reported motor vehicle collisions in NYC. Each row represents a crash event.

The dataset consists of 1.84 million rows and uncompressed data file is about 377MB in size.

**[OpenClean](https://github.com/VIDA-NYU/openclean)** is a Python library for data profiling and data cleaning. It is primarily intended for tabular datasets, which are represented as pandas data frames. After downloading the dataset file, we can, for example, open it as a data frame using the pandas.read_csv() function. This requires reading the full dataset into main memory. For large datasets this may not be feasible, and in some cases we don’t need all the data. For these scenarios, openclean’s data streaming operator allows us to apply data profiling, filtering, and transformation operations directly on a stream of rows that are read from the file.

In [1]:
# Due to the size of the full dataset file, we make use of openclean's
# stream operator to avoid having to load the dataset into main-memory.

from openclean.pipeline import stream

file_path = 'Motor_Vehicle_Collisions_Crashes.csv'
ds = stream(file_path)

In [2]:
# Count number of records in the dataset.

print(f'{ds.count():,} rows.')

1,839,256 rows.

In [3]:
# Print the first ten rows of the dataset to get a first idea of the content.

ds.head()

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,04/14/2021,5:32,,,,,,BRONX WHITESTONE BRIDGE,,,...,Unspecified,,,,4407480,Sedan,Sedan,,,
1,04/13/2021,21:35,BROOKLYN,11217,40.68358,-73.97617,"(40.68358, -73.97617)",,,620 ATLANTIC AVENUE,...,,,,,4407147,Sedan,,,,
2,04/15/2021,16:15,,,,,,HUTCHINSON RIVER PARKWAY,,,...,,,,,4407665,Station Wagon/Sport Utility Vehicle,,,,
3,04/13/2021,16:00,BROOKLYN,11222,,,,VANDERVORT AVENUE,ANTHONY STREET,,...,Unspecified,,,,4407811,Sedan,,,,
4,04/12/2021,8:25,,,0,0,"(0.0, 0.0)",EDSON AVENUE,,,...,Unspecified,,,,4406885,Station Wagon/Sport Utility Vehicle,Sedan,,,
5,04/13/2021,17:11,,,,,,VERRAZANO BRIDGE UPPER,,,...,Unspecified,,,,4407883,Sedan,Box Truck,,,
6,04/13/2021,17:30,QUEENS,11106,,,,33 st,31ave,,...,Unspecified,,,,4408019,Sedan,Sedan,,,
7,04/16/2021,23:30,,,,,,SHORE PARKWAY,,,...,,,,,4408060,Sedan,,,,
8,04/11/2021,17:00,,,,,,GOWANUS RAMP,,,...,Other Vehicular,,,,4406314,Sedan,Sedan,,,
9,04/16/2021,21:15,,,,,,BRONX RIVER PARKWAY RAMP,,,...,Unspecified,,,,4408149,Station Wagon/Sport Utility Vehicle,Sedan,,,

# Data Profiling

Data profiling refers to the activity of creating small but informative summaries of a database. Profiling helps users to gain an understanding of the data properties and to uncover data quality flaws.

Openclean supports a variety of different data profiling operators.

In [4]:
# Profile the dataset view using the default data profiler.

from openclean.profiling.column import DefaultColumnProfiler

profiles = ds.profile(default_profiler=DefaultColumnProfiler)

In [5]:
# Print overview of profiling results.

profiles.stats()

,total,empty,distinct,uniqueness,entropy
CRASH DATE,1839256,0,3418,0.001858,11.676185
CRASH TIME,1839256,0,1440,0.000783,8.928377
BOROUGH,1839256,568098,5,0.000004,2.118321
ZIP CODE,1839256,568320,232,0.000183,7.221118
LATITUDE,1839256,214986,122315,0.075305,15.631652
LONGITUDE,1839256,214986,95951,0.059073,15.342183
LOCATION,1839256,214986,243078,0.149654,16.179236
ON STREET NAME,1839256,375915,15967,0.010911,10.581327
CROSS STREET NAME,1839256,661099,19238,0.016329,11.808005
OFF STREET NAME,1839256,1555710,178692,0.630205,16.903913
NUMBER OF PERSONS INJURED,1839256,18,27,0.000015,0.965950
NUMBER OF PERSONS KILLED,1839256,31,7,0.000004,0.014318
NUMBER OF PEDESTRIANS INJURED,1839256,0,13,0.000007,0.298479
NUMBER OF PEDESTRIANS KILLED,1839256,0,4,0.000002,0.008107
NUMBER OF CYCLIST INJURED,1839256,0,5,0.000003,0.163679
NUMBER OF CYCLIST KILLED,1839256,0,3,0.000002,0.001464
NUMBER OF MOTORIST INJURED,1839256,0,27,0.000015,0.756799
NUMBER OF MOTORIST KILLED,1839256,0,6,0.000003,0.006323
CONTRIBUTING FACTOR VEHICLE 1,1839256,5306,61,0.000033,3.519120
CONTRIBUTING FACTOR VEHICLE 2,1839256,266317,61,0.000039,1.229855
CONTRIBUTING FACTOR VEHICLE 3,1839256,1713307,50,0.000397,0.592786
CONTRIBUTING FACTOR VEHICLE 4,1839256,1811717,39,0.001416,0.495097
CONTRIBUTING FACTOR VEHICLE 5,1839256,1831954,29,0.003972,0.495551
COLLISION_ID,1839256,0,1839256,1.000000,20.810691
VEHICLE TYPE CODE 1,1839256,10092,1310,0.000716,3.264982
VEHICLE TYPE CODE 2,1839256,316452,1438,0.000944,3.570997
VEHICLE TYPE CODE 3,1839256,1717051,202,0.001653,2.915826
VEHICLE TYPE CODE 4,1839256,1812543,84,0.003145,2.732442
VEHICLE TYPE CODE 5,1839256,1832155,55,0.007745,2.684250

Combining profiling results with columns introduction in the [website](https://data.cityofnewyork.us/Public-Safety/Motor-Vehicle-Collisions-Crashes/h9gi-nx95), we know that the Motor Vehicle Collisions dataset has 29 columns.

* CRASH DATE: Occurrence date of collision. It does not have empty values.
* CRASH TIME: Occurrence time of collision. It does not have empty values.
* BOROUGH: Borough where collision occurred. It has 568098 empty values. It has 5 distinct values.
* ZIP CODE: Postal code of incident occurrence. It has 568320 empty values.
* LATITUDE: Latitude coordinate for Global Coordinate System, WGS 1984, decimal degrees (EPSG 4326). It has 214986 empty values.
* LONGITUDE: Longitude coordinate for Global Coordinate System, WGS 1984, decimal degrees (EPSG 4326). It has 214986 empty values.
* LOCATION: Latitude, Longitude pair. It has 214986 empty values.
* ON STREET NAME: Street on which the collision occurred. It has 375915 empty values.
* CROSS STREET NAME: Nearest cross street to the collision. It has 661099 empty values.
* OFF STREET NAME: Street address if known. It has 1555710 empty values.		
* NUMBER OF PERSONS INJURED: Number of persons injured.
* NUMBER OF PERSONS KILLED: Number of persons killed.	
* NUMBER OF PEDESTRIANS INJURED: Number of pedestrians injured.		
* NUMBER OF PEDESTRIANS KILLED:	Number of pedestrians killed.
* NUMBER OF CYCLIST INJURED: Number of cyclists injured.	
* NUMBER OF CYCLIST KILLED:	Number of cyclists killed.
* NUMBER OF MOTORIST INJURED: Number of vehicle occupants injured.
* NUMBER OF MOTORIST KILLED: Number of vehicle occupants killed.
* CONTRIBUTING FACTOR VEHICLE 1,2,3,4,5: Factors contributing to the collision for designated vehicle.	
* COLLISION_ID: Unique record code generated by system. Primary Key for Crash table. It does not have empty values.
* VEHICLE TYPE CODE 1,2,3,4,5: Type of vehicle based on the selected vehicle category.

In [6]:
profiles.types()

                               date   float      int     str
CRASH DATE                     3418       0        0       0
CRASH TIME                        0       0        0    1440
BOROUGH                           0       0        0       5
ZIP CODE                          0       0      231       1
LATITUDE                          0  122314        1       0
LONGITUDE                         0   95949        2       0
LOCATION                          0       0        0  243078
ON STREET NAME                   86       0       16   15865
CROSS STREET NAME                 2       1       26   19209
OFF STREET NAME                  30       0        1  178661
NUMBER OF PERSONS INJURED         0       0       27       0
NUMBER OF PERSONS KILLED          0       0        7       0
NUMBER OF PEDESTRIANS INJURED     0       0       13       0
NUMBER OF PEDESTRIANS KILLED      0       0        4       0
NUMBER OF CYCLIST INJURED         0       0        5       0
NUMBER OF CYCLIST KILLED          0       0        3       0
NUMBER OF MOTORIST INJURED        0       0       27       0
NUMBER OF MOTORIST KILLED         0       0        6       0
CONTRIBUTING FACTOR VEHICLE 1     0       0        2      59
CONTRIBUTING FACTOR VEHICLE 2     0       0        2      59
CONTRIBUTING FACTOR VEHICLE 3     0       0        2      48
CONTRIBUTING FACTOR VEHICLE 4     0       0        0      39
CONTRIBUTING FACTOR VEHICLE 5     0       0        0      29
COLLISION_ID                      0       0  1839256       0
VEHICLE TYPE CODE 1               0       0       12    1298
VEHICLE TYPE CODE 2               0       0       12    1426
VEHICLE TYPE CODE 3               0       0        0     202
VEHICLE TYPE CODE 4               0       0        0      84
VEHICLE TYPE CODE 5               0       0        0      55

This dataset has some type errors.

In [7]:
# Print the most frequent data type for each column.

print('Schema\n------')
for col in ds.columns:
    p = profiles.column(col)
    print("  '{}' ({})".format(col, p['datatypes']['distinct'].most_common(1)[0][0]))

Schema
------
  'CRASH DATE' (date)
  'CRASH TIME' (str)
  'BOROUGH' (str)
  'ZIP CODE' (int)
  'LATITUDE' (float)
  'LONGITUDE' (float)
  'LOCATION' (str)
  'ON STREET NAME' (str)
  'CROSS STREET NAME' (str)
  'OFF STREET NAME' (str)
  'NUMBER OF PERSONS INJURED' (int)
  'NUMBER OF PERSONS KILLED' (int)
  'NUMBER OF PEDESTRIANS INJURED' (int)
  'NUMBER OF PEDESTRIANS KILLED' (int)
  'NUMBER OF CYCLIST INJURED' (int)
  'NUMBER OF CYCLIST KILLED' (int)
  'NUMBER OF MOTORIST INJURED' (int)
  'NUMBER OF MOTORIST KILLED' (int)
  'CONTRIBUTING FACTOR VEHICLE 1' (str)
  'CONTRIBUTING FACTOR VEHICLE 2' (str)
  'CONTRIBUTING FACTOR VEHICLE 3' (str)
  'CONTRIBUTING FACTOR VEHICLE 4' (str)
  'CONTRIBUTING FACTOR VEHICLE 5' (str)
  'COLLISION_ID' (int)
  'VEHICLE TYPE CODE 1' (str)
  'VEHICLE TYPE CODE 2' (str)
  'VEHICLE TYPE CODE 3' (str)
  'VEHICLE TYPE CODE 4' (str)
  'VEHICLE TYPE CODE 5' (str)

### Explore some data properties

In [8]:
# Print the minimum and maximum value for column 'Issue Date'

profiles.minmax('CRASH DATE')

            min        max
date 2012-07-01 2021-11-08

We could know that this dataset records crash events happening from 07/01/2012 to 11/08/2021.

In [9]:
# Print the most frequent values in column 'Violation Time'

profiles.column('CRASH TIME').get('topValues')

[('16:00', 26243),
 ('17:00', 25720),
 ('15:00', 25468),
 ('18:00', 23753),
 ('14:00', 23378),
 ('13:00', 21743),
 ('9:00', 19602),
 ('19:00', 19564),
 ('12:00', 19504),
 ('16:30', 19035)]

It seems that motor vehicle crash events are likely to happen during Rush Hour.

In [10]:
# Print the most frequent values in column 'BOROUGH'

profiles.column('BOROUGH').get('topValues')

[('BROOKLYN', 400172),
 ('QUEENS', 340459),
 ('MANHATTAN', 292471),
 ('BRONX', 184511),
 ('STATEN ISLAND', 53545)]

It seems that BOROUGH has no typos.

## Data cleaning

Data cleaning is the process of detecting and repairing corrupt or inaccurate records from a data set in order to improve the quality of data.

Data is generally considered high quality **if it is fit for its intended uses** in operations, decision making and planning. So, we will first determine what is the intended use of this dataset.

***Our goals:***

 1. Explore the the potential relationship between time (or location) and motor vehicle crashes.

 2. Draw Motor Vehicle Crash Distribution over different areas by zip codes, which could facilitate the government work.

Therefore, data we should pay attention to is about time and geographic location. We could ignore number of persons killed, number of persons injured, contributing factor vehicle and vehicle type.

### 1. Outliers

###### (1) Load zip code and borough mapping csv

- reference: https://www.nycbynatives.com/nyc_info/new_york_city_zip_codes.php

In [11]:
import pandas as pd

borough_name_mapping = {'Manhattan': 'MANHATTAN',
                       'Staten': 'STATEN ISLAND',
                       'Bronx': 'BRONX',
                       'Queens': 'QUEENS',
                       'Brooklyn': 'BROOKLYN'}

borough_zipcode_df = pd.read_csv('borough_zipcode.csv')

zipcodestr_to_borough_dict = dict()
zipcodes_to_borough_dict = dict()
for index, row in borough_zipcode_df.iterrows():
    zipcodestr_to_borough_dict[str(row['ZIP_CODE'])] = borough_name_mapping[row['BOROUGH']]
    zipcodes_to_borough_dict[row['ZIP_CODE']] = borough_name_mapping[row['BOROUGH']]

# To take a look at zipcode_to_borough_dict
zipcodes_to_borough_dict

{10001: 'MANHATTAN',
 10002: 'MANHATTAN',
 10003: 'MANHATTAN',
 10004: 'MANHATTAN',
 10005: 'MANHATTAN',
 10006: 'MANHATTAN',
 10007: 'MANHATTAN',
 10009: 'MANHATTAN',
 10010: 'MANHATTAN',
 10011: 'MANHATTAN',
 10012: 'MANHATTAN',
 10013: 'MANHATTAN',
 10014: 'MANHATTAN',
 10015: 'MANHATTAN',
 10016: 'MANHATTAN',
 10017: 'MANHATTAN',
 10018: 'MANHATTAN',
 10019: 'MANHATTAN',
 10020: 'MANHATTAN',
 10021: 'MANHATTAN',
 10022: 'MANHATTAN',
 10023: 'MANHATTAN',
 10024: 'MANHATTAN',
 10025: 'MANHATTAN',
 10026: 'MANHATTAN',
 10027: 'MANHATTAN',
 10028: 'MANHATTAN',
 10029: 'MANHATTAN',
 10030: 'MANHATTAN',
 10031: 'MANHATTAN',
 10032: 'MANHATTAN',
 10033: 'MANHATTAN',
 10034: 'MANHATTAN',
 10035: 'MANHATTAN',
 10036: 'MANHATTAN',
 10037: 'MANHATTAN',
 10038: 'MANHATTAN',
 10039: 'MANHATTAN',
 10040: 'MANHATTAN',
 10041: 'MANHATTAN',
 10044: 'MANHATTAN',
 10045: 'MANHATTAN',
 10048: 'MANHATTAN',
 10055: 'MANHATTAN',
 10060: 'MANHATTAN',
 10069: 'MANHATTAN',
 10090: 'MANHATTAN',
 10095: 'MANHATTAN',
 10098: 'MANHATTAN',
 10099: 'MANHATTAN',
 10103: 'MANHATTAN',
 10104: 'MANHATTAN',
 10105: 'MANHATTAN',
 10106: 'MANHATTAN',
 10107: 'MANHATTAN',
 10110: 'MANHATTAN',
 10111: 'MANHATTAN',
 10112: 'MANHATTAN',
 10115: 'MANHATTAN',
 10118: 'MANHATTAN',
 10119: 'MANHATTAN',
 10120: 'MANHATTAN',
 10121: 'MANHATTAN',
 10122: 'MANHATTAN',
 10123: 'MANHATTAN',
 10128: 'MANHATTAN',
 10151: 'MANHATTAN',
 10152: 'MANHATTAN',
 10153: 'MANHATTAN',
 10154: 'MANHATTAN',
 10155: 'MANHATTAN',
 10158: 'MANHATTAN',
 10161: 'MANHATTAN',
 10162: 'MANHATTAN',
 10165: 'MANHATTAN',
 10166: 'MANHATTAN',
 10167: 'MANHATTAN',
 10168: 'MANHATTAN',
 10169: 'MANHATTAN',
 10170: 'MANHATTAN',
 10171: 'MANHATTAN',
 10172: 'MANHATTAN',
 10173: 'MANHATTAN',
 10174: 'MANHATTAN',
 10175: 'MANHATTAN',
 10176: 'MANHATTAN',
 10177: 'MANHATTAN',
 10178: 'MANHATTAN',
 10199: 'MANHATTAN',
 10270: 'MANHATTAN',
 10271: 'MANHATTAN',
 10278: 'MANHATTAN',
 10279: 'MANHATTAN',
 10280: 'MANHATTAN',
 10281: 'MANHATTAN',
 10282: 'MANHATTAN',
 10301: 'STATEN ISLAND',
 10302: 'STATEN ISLAND',
 10303: 'STATEN ISLAND',
 10304: 'STATEN ISLAND',
 10305: 'STATEN ISLAND',
 10306: 'STATEN ISLAND',
 10307: 'STATEN ISLAND',
 10308: 'STATEN ISLAND',
 10309: 'STATEN ISLAND',
 10310: 'STATEN ISLAND',
 10311: 'STATEN ISLAND',
 10312: 'STATEN ISLAND',
 10314: 'STATEN ISLAND',
 10451: 'BRONX',
 10452: 'BRONX',
 10453: 'BRONX',
 10454: 'BRONX',
 10455: 'BRONX',
 10456: 'BRONX',
 10457: 'BRONX',
 10458: 'BRONX',
 10459: 'BRONX',
 10460: 'BRONX',
 10461: 'BRONX',
 10462: 'BRONX',
 10463: 'BRONX',
 10464: 'BRONX',
 10465: 'BRONX',
 10466: 'BRONX',
 10467: 'BRONX',
 10468: 'BRONX',
 10469: 'BRONX',
 10470: 'BRONX',
 10471: 'BRONX',
 10472: 'BRONX',
 10473: 'BRONX',
 10474: 'BRONX',
 10475: 'BRONX',
 11004: 'QUEENS',
 11101: 'QUEENS',
 11102: 'QUEENS',
 11103: 'QUEENS',
 11104: 'QUEENS',
 11105: 'QUEENS',
 11106: 'QUEENS',
 11109: 'QUEENS',
 11201: 'BROOKLYN',
 11203: 'BROOKLYN',
 11204: 'BROOKLYN',
 11205: 'BROOKLYN',
 11206: 'BROOKLYN',
 11207: 'BROOKLYN',
 11208: 'BROOKLYN',
 11209: 'BROOKLYN',
 11210: 'BROOKLYN',
 11211: 'BROOKLYN',
 11212: 'BROOKLYN',
 11213: 'BROOKLYN',
 11214: 'BROOKLYN',
 11215: 'BROOKLYN',
 11216: 'BROOKLYN',
 11217: 'BROOKLYN',
 11218: 'BROOKLYN',
 11219: 'BROOKLYN',
 11220: 'BROOKLYN',
 11221: 'BROOKLYN',
 11222: 'BROOKLYN',
 11223: 'BROOKLYN',
 11224: 'BROOKLYN',
 11225: 'BROOKLYN',
 11226: 'BROOKLYN',
 11228: 'BROOKLYN',
 11229: 'BROOKLYN',
 11230: 'BROOKLYN',
 11231: 'BROOKLYN',
 11232: 'BROOKLYN',
 11233: 'BROOKLYN',
 11234: 'BROOKLYN',
 11235: 'BROOKLYN',
 11236: 'BROOKLYN',
 11237: 'BROOKLYN',
 11238: 'BROOKLYN',
 11239: 'BROOKLYN',
 11241: 'BROOKLYN',
 11242: 'BROOKLYN',
 11243: 'BROOKLYN',
 11249: 'BROOKLYN',
 11252: 'BROOKLYN',
 11256: 'BROOKLYN',
 11351: 'QUEENS',
 11354: 'QUEENS',
 11355: 'QUEENS',
 11356: 'QUEENS',
 11357: 'QUEENS',
 11358: 'QUEENS',
 11359: 'QUEENS',
 11360: 'QUEENS',
 11361: 'QUEENS',
 11362: 'QUEENS',
 11363: 'QUEENS',
 11364: 'QUEENS',
 11365: 'QUEENS',
 11366: 'QUEENS',
 11367: 'QUEENS',
 11368: 'QUEENS',
 11369: 'QUEENS',
 11370: 'QUEENS',
 11371: 'QUEENS',
 11372: 'QUEENS',
 11373: 'QUEENS',
 11374: 'QUEENS',
 11375: 'QUEENS',
 11377: 'QUEENS',
 11378: 'QUEENS',
 11379: 'QUEENS',
 11385: 'QUEENS',
 11411: 'QUEENS',
 11412: 'QUEENS',
 11413: 'QUEENS',
 11414: 'QUEENS',
 11415: 'QUEENS',
 11416: 'QUEENS',
 11417: 'QUEENS',
 11418: 'QUEENS',
 11419: 'QUEENS',
 11420: 'QUEENS',
 11421: 'QUEENS',
 11422: 'QUEENS',
 11423: 'QUEENS',
 11426: 'QUEENS',
 11427: 'QUEENS',
 11428: 'QUEENS',
 11429: 'QUEENS',
 11430: 'QUEENS',
 11432: 'QUEENS',
 11433: 'QUEENS',
 11434: 'QUEENS',
 11435: 'QUEENS',
 11436: 'QUEENS',
 11691: 'QUEENS',
 11692: 'QUEENS',
 11693: 'QUEENS',
 11694: 'QUEENS',
 11697: 'QUEENS'}

###### (2) BOROUGH

In [12]:
df_ol1 = ds.select('BOROUGH').update('BOROUGH', str.upper).to_df()

In [13]:
df_ol1['BOROUGH'].value_counts()

                 568098
BROOKLYN         400172
QUEENS           340459
MANHATTAN        292471
BRONX            184511
STATEN ISLAND     53545
Name: BOROUGH, dtype: int64

Therefore, except for null value, BOROUGH has no outliers.

###### (3) ZIP CODE

Given all the zip codes in NYC, check if all of them are in the range.

In [14]:
zipcodes_list = list(zipcodestr_to_borough_dict.keys())

In [15]:
df_ol2 = ds.select('ZIP CODE').to_df()

In [16]:
df_notin = df_ol2[~df_ol2['ZIP CODE'].isin(zipcodes_list)]
df_notin['ZIP CODE'].unique()

array(['', '10065', '11001', '10000', '11040', '10075', '11695', '11251',
       '11005', '10179', '     ', '10803'], dtype=object)

In [17]:
zipcode_change_dict = {}
for i in df_notin['ZIP CODE'].unique():
    zipcode_change_dict[i] = ''

In [18]:
# Find all the zip codes that are not in NYC
# They might be typo, so we need to check the zip code based on more specific geographic location information, 
# e.g. latitude,longtitude, on street name, cross street name, off street name
df_notin['ZIP CODE'].value_counts()

         568320
10065      8724
10075      3086
11001       547
11040       462
10000       348
11005       101
             42
11695        14
10803         2
10179         2
11251         2
Name: ZIP CODE, dtype: int64

***Update those rows whose ZIP CODE are outliers to empty string***

In [19]:
from openclean.function.eval.domain import Lookup
from openclean.function.eval.base import Col
ds_fix_zip = ds\
    .update('ZIP CODE', Lookup('ZIP CODE', zipcode_change_dict, default=Col('ZIP CODE')))
ds_fix_zip.head()

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,04/14/2021,5:32,,,,,,BRONX WHITESTONE BRIDGE,,,...,Unspecified,,,,4407480,Sedan,Sedan,,,
1,04/13/2021,21:35,BROOKLYN,11217,40.68358,-73.97617,"(40.68358, -73.97617)",,,620 ATLANTIC AVENUE,...,,,,,4407147,Sedan,,,,
2,04/15/2021,16:15,,,,,,HUTCHINSON RIVER PARKWAY,,,...,,,,,4407665,Station Wagon/Sport Utility Vehicle,,,,
3,04/13/2021,16:00,BROOKLYN,11222,,,,VANDERVORT AVENUE,ANTHONY STREET,,...,Unspecified,,,,4407811,Sedan,,,,
4,04/12/2021,8:25,,,0,0,"(0.0, 0.0)",EDSON AVENUE,,,...,Unspecified,,,,4406885,Station Wagon/Sport Utility Vehicle,Sedan,,,
5,04/13/2021,17:11,,,,,,VERRAZANO BRIDGE UPPER,,,...,Unspecified,,,,4407883,Sedan,Box Truck,,,
6,04/13/2021,17:30,QUEENS,11106,,,,33 st,31ave,,...,Unspecified,,,,4408019,Sedan,Sedan,,,
7,04/16/2021,23:30,,,,,,SHORE PARKWAY,,,...,,,,,4408060,Sedan,,,,
8,04/11/2021,17:00,,,,,,GOWANUS RAMP,,,...,Other Vehicular,,,,4406314,Sedan,Sedan,,,
9,04/16/2021,21:15,,,,,,BRONX RIVER PARKWAY RAMP,,,...,Unspecified,,,,4408149,Station Wagon/Sport Utility Vehicle,Sedan,,,

In [20]:
from openclean.operator.transform.filter import filter

df_test = ds_fix_zip\
    .filter(Col('ZIP CODE') == '11695')
df_test.head(20)

Empty DataFrame
Columns: [CRASH DATE, CRASH TIME, BOROUGH, ZIP CODE, LATITUDE, LONGITUDE, LOCATION, ON STREET NAME, CROSS STREET NAME, OFF STREET NAME, NUMBER OF PERSONS INJURED, NUMBER OF PERSONS KILLED, NUMBER OF PEDESTRIANS INJURED, NUMBER OF PEDESTRIANS KILLED, NUMBER OF CYCLIST INJURED, NUMBER OF CYCLIST KILLED, NUMBER OF MOTORIST INJURED, NUMBER OF MOTORIST KILLED, CONTRIBUTING FACTOR VEHICLE 1, CONTRIBUTING FACTOR VEHICLE 2, CONTRIBUTING FACTOR VEHICLE 3, CONTRIBUTING FACTOR VEHICLE 4, CONTRIBUTING FACTOR VEHICLE 5, COLLISION_ID, VEHICLE TYPE CODE 1, VEHICLE TYPE CODE 2, VEHICLE TYPE CODE 3, VEHICLE TYPE CODE 4, VEHICLE TYPE CODE 5]
Index: []

[0 rows x 29 columns]

Now, all the invalid zip code become empty string

### 2. Typos

* Find Typos in the columns of street names and standardize them

At first, we use the collision clustering algorithm to determine if there are any altenative representations of the street names. The specialied key-generating clustering algorithm USStreetNameKey is specific to identifying typos in street names. We apply this function on the columns 'ON STREET NAME', 'CROSS STREET NAME', 'OFF STREET NAME' to find clusters of alternative representations of a particular street name.

In [21]:
from openclean.cluster.key import KeyCollision
from openclean.function.value.key.fingerprint import Fingerprint
from openclean_geo.address.usstreet import USStreetNameKey

on_street_names = ds_fix_zip.update('ON STREET NAME', str.upper).distinct('ON STREET NAME')
cross_street_names = ds_fix_zip.update('CROSS STREET NAME', str.upper).distinct('CROSS STREET NAME')
off_street_names = ds_fix_zip.update('OFF STREET NAME', str.upper).distinct('OFF STREET NAME')

on_street_clusters = KeyCollision(func=USStreetNameKey()).clusters(on_street_names)
cross_street_clusters = KeyCollision(func=USStreetNameKey()).clusters(cross_street_names)
off_street_clusters = KeyCollision(func=USStreetNameKey()).clusters(off_street_names)

We then use clusters_print function to print the clusters found using the USStreetNameKey function.

In [22]:
def clusters_print(clusters, k=5):
    clusters = sorted(clusters, key=lambda x: len(x), reverse=True)
    val_count = sum([len(c) for c in clusters])
    print('Total number of clusters is {} with {} values'.format(len(clusters), val_count))
    for i in range(min(k, len(clusters))):
        print('\nCluster {}'.format(i + 1))
        for key, cnt in clusters[i].items():
            if key == '':
                key = "''"
            print(f'  {key} (x {cnt})')

In [23]:
print("Clusters in ON STREET NAMES")
clusters_print(on_street_clusters, 10)
print("\nClusters in CROSS STREET NAMES")
clusters_print(cross_street_clusters, 10)
print("\nClusters in OFF STREET NAMES")
clusters_print(off_street_clusters, 10)

Clusters in ON STREET NAMES
Total number of clusters is 3623 with 8431 values

Cluster 1
  FIRST AVENUE (x 1)
  1 AVENUE (x 125)
  1 AVENUE                         (x 5749)
  FIRST AVENUE                     (x 24)
  1ST AVENUE                       (x 21)
  FIRST AVE                        (x 3)
  1ST AVE                          (x 26)
  1 AVE                            (x 1)
   1ST AVENUE                      (x 1)

Cluster 2
  2 AVENUE (x 231)
  2 AVENUE                         (x 9029)
  2ND AVE (x 1)
  SECOND AVENUE                    (x 35)
  2 AVE                            (x 3)
  2ND AVE                          (x 5)
  SECOND AVE                       (x 1)
  2ND AVENUE                       (x 2)
  2 AV                             (x 1)

Cluster 3
  3 AVENUE (x 365)
  THIRD AVENUE (x 2)
  THIRD AVE (x 3)
  3 AVENUE                         (x 12486)
  THIRD AVENUE                     (x 260)
  THIRD AVE                        (x 7)
  3 AVE                            (x 6)
  3RD AVE                          (x 16)
  3RD AVENUE                       (x 5)

Cluster 4
  G.C.P. / L.I.E (CDR) (x 4)
  G.C.P / L.I.E. (CDR) (x 8)
  L.I.E / G.C.P (CDR)              (x 82)
  L.I.E / G.C.P (CDR) (x 3)
  L.I.E / G.C.P CDR                (x 63)
  G.C.P / L.I.E. (CDR)             (x 115)
  G.C.P. / L.I.E (CDR)             (x 66)
  L.I.E / G.C.P CDR (x 1)

Cluster 5
  WEST 47 STREET (x 13)
  WEST 47 STREET                   (x 1023)
  W 47 STREET                      (x 4)
  W 47TH ST                        (x 5)
  W 47TH STREET                    (x 2)
  WEST 47 ST                       (x 1)
  WEST 47TH ST                     (x 1)

Cluster 6
  5 AVENUE (x 185)
  5 AVENUE                         (x 6777)
  5 AVE                            (x 6)
  FIFTH AVE                        (x 1)
  FIFTH AVENUE                     (x 11)
  5TH AVE                          (x 8)
  5TH AVENUE                       (x 8)

Cluster 7
  WEST 52 STREET (x 11)
  WEST 52 STREET                   (x 624)
  W 52 STREET                      (x 3)
  W 52ND STREET                    (x 1)
  WEST 52  STREET                  (x 1)
  W 52ND ST                        (x 1)
  WEST 52ND STREET                 (x 1)

Cluster 8
  WEST 56 STREET (x 15)
  WEST 56 STREET                   (x 790)
  W 56 STREET                      (x 4)
  W 56 ST                          (x 1)
  W 56TH ST                        (x 3)
  W 56TH STREET                    (x 1)
  W56TH STREET                     (x 1)

Cluster 9
  WEST 58 STREET                   (x 692)
  WEST 58 STREET (x 9)
  W 58 STREET                      (x 6)
  WEST 58 ST                       (x 1)
  W 58TH ST                        (x 3)
  W 58TH STREET                    (x 1)
  WEST 58TH STREET                 (x 1)

Cluster 10
  6 AVENUE (x 37)
  6 AVENUE                         (x 2973)
  6 AVE (x 1)
  6 AVE                            (x 3)
  6TH AVENUE                       (x 9)
  6TH AVE                          (x 6)
  SIXTH AVENUE                     (x 7)

Clusters in CROSS STREET NAMES
Total number of clusters is 6367 with 13987 values

Cluster 1
  3 AVENUE (x 5628)
  3 AVE (x 10)
  THIRD AVENUE (x 29)
  THIRD AVE (x 7)
  3RD AVENUE (x 16)
  3AVENUE (x 1)
  3RD AVE (x 11)
  3 RD AVE (x 2)
  3 AVENUE  (x 3)
  3RD AVE  (x 1)
  3 AVENUE   (x 1)
  3 AVENUE                         (x 9843)
  THIRD AVENUE                     (x 281)

Cluster 2
  2 AVENUE (x 4116)
  2 AVE (x 4)
  SECOND AVENUE (x 5)
  2ND AVENUE (x 17)
  2ND AVE (x 7)
  2ND AVE  (x 1)
  2 AVENUE  (x 1)
  SECOND AVENUE  (x 2)
  2ND AVENUE  (x 2)
  2 AVENUE                         (x 8421)
  SECOND AVENUE                    (x 99)

Cluster 3
  1 AVENUE (x 2712)
  1ST AVENUE (x 7)
  1 AVE (x 7)
  1ST AVE (x 10)
  FIRST AVENUE (x 7)
  1 AVENUE  (x 2)
  1ST AVE  (x 1)
  1 AVENUE                         (x 5318)
  FIRST AVENUE                     (x 55)

Cluster 4
  7 AVENUE (x 2800)
  7 TH AVENUE (x 1)
  7TH AVENUE (x 10)
  7TH AVE (x 11)
  SEVENTH AVENUE (x 3)
  7 AVE (x 1)
  7 AVENUE  (x 1)
  7 AVENUE                         (x 6634)
  SEVENTH AVENUE                   (x 1)

Cluster 5
  9 AVENUE (x 2080)
  9 AVE (x 6)
  9TH AVE (x 6)
  9AVE (x 1)
  9TH AVENUE (x 14)
  9TH AVENUE  (x 1)
  9 AVENUE  (x 2)
  9 AVENUE                         (x 3621)
  NINTH AVENUE                     (x 1)

Cluster 6
  4 AVENUE (x 1705)
  4TH AVE (x 1)
  4TH AVENUE (x 1)
  4 AVE (x 1)
  4 AVENUE  (x 2)
  4TH AVE. (x 1)
  4 AVENUE                         (x 2653)
  FOURTH AVENUE                    (x 9)

Cluster 7
  5 AVENUE (x 3115)
  5TH AVENUE (x 10)
  FIFTH AVENUE (x 4)
  5 AVE (x 7)
  5TH AVE (x 7)
  5 AVENUE  (x 2)
  5 AVENUE                         (x 7051)
  FIFTH AVENUE                     (x 14)

Cluster 8
  WEST 57 STREET (x 305)
  W 57 STREET (x 6)
  W 57TH STREET (x 6)
  W57TH ST. (x 1)
  W 57TH ST (x 3)
  WEST 57TH STREET (x 1)
  W 57TH  ST (x 1)
  WEST 57 STREET                   (x 339)

Cluster 9
  6 AVENUE (x 813)
  SIXTH AVENUE (x 2)
  6 AVE (x 6)
  6TH AVENUE (x 9)
  6TH AVE (x 5)
  6 AVENUE  (x 2)
  6 AVENUE                         (x 4353)
  SIXTH AVENUE                     (x 5)

Cluster 10
  8 AVENUE (x 2673)
  8TH AVE (x 11)
  8 AVE (x 6)
  8TH AVENUE (x 9)
  EIGHTH AVENUE (x 1)
  8 AVENUE  (x 2)
  8TH  AVE (x 1)
  8 AVENUE                         (x 6580)

Clusters in OFF STREET NAMES
Total number of clusters is 10916 with 22700 values

Cluster 1
  242-02    61 AVENUE (x 1)
  242-02    61 AVENUE                      (x 51)
  242-02    61AVENUE                       (x 1)
  242-02 61 AVENUE                         (x 21)
  242 02  61 AVENUE                        (x 1)
  242-02  61 AVENUE                        (x 2)
  242-02 61 AVE                            (x 1)

Cluster 2
  PARKING LOT 75-09 WOODHAVEN BOULEVARD    (x 1)
  PARKING LOT 75-09 WOODHAVEN BLVD         (x 21)
  PARKING LOT 75 09 WOODHAVEN BLVD         (x 1)
  75-09 WOODHAVEN BLVD (PARKING LOT)       (x 1)
  75 09 WOODHAVEN BLVD PARKING LOT         (x 1)
  75-09 WOODHAVEN BLVD PARKING LOT         (x 1)

Cluster 3
  PARKING LOT - 131-35 AVERY AVE           (x 1)
  PARKING LOT 131-35 AVERY AVENUE          (x 3)
  PARKING/LOT 131-35 AVERY AVE             (x 1)
  PARKING LOT 131-35 AVERY AVE.            (x 2)
   PARKING LOT 131-35 AVERY AVE            (x 1)
  PARKING LOT 131-35 AVERY AVE             (x 2)

Cluster 4
  (LOT)134 AVE && SPRINGFIELD BLVD         (x 2)
  (LOT) SPRINGFIELD BLVD && 134 AVE        (x 2)
  (LOT)SPRINGFIELD BLVD && 134 AVE         (x 3)
  (LOT) 134 AVE && SPRINGFIELD BLVD        (x 1)
  (LOT)SPRINGFIELD BLVD && 134 AVENUE      (x 1)
  (LOT) SPRINGFIELD BLVD && 134 AVENUE     (x 1)

Cluster 5
  PKG LOT 6301 8 AVENUE                    (x 1)
  PKG LOT @ 6301 8 AVENUE                  (x 1)
  PKG LOT @6301 8 AVE                      (x 2)
  PKG LOT @6301 8 AVENUE                   (x 1)
  PKG LOT 6301 8 AVE                       (x 2)
  PKG LOT/6301 8 AVE                       (x 1)

Cluster 6
  66ST TRANSVERSE RD                       (x 1)
  66 ST TRANSVERSE ROAD                    (x 1)
  66TH ST TRANSVERSE RD                    (x 1)
  66TH ST TRANSVERSE ROAD                  (x 1)
  66 ST TRANSVERSE RD                      (x 1)
  66 ST   TRANSVERSE RD                    (x 1)

Cluster 7
  PARKING LOT-772 EDGEWATER ROAD           (x 44)
  PARKING LOT-772 EDGEWATER RD             (x 91)
  PARKING LOT--772 EDGEWATER RD            (x 1)
  PARKING LOT- 772 EDGEWATER RD            (x 27)
  PARKING LOT- 772 EDGEWATER ROAD          (x 2)
  PARKING LOT 772 EDGEWATER ROAD           (x 2)

Cluster 8
  PARKING LOT 135-05 20 AVE                (x 10)
  PARKING LOT 135-05 20 AVENUE             (x 2)
  PARKING LOT 135-05 20 AVE.               (x 1)
  PARKING LOT135-05 20 AVE                 (x 1)
  135-05 20 AVE (PARKING LOT)              (x 1)

Cluster 9
  PARKING LOT 137-05 20 AVE                (x 14)
  PARKING LOT 137-05 20 AVENUE             (x 3)
  PARKING LOT 137-05 20 AVE.               (x 3)
  PARKING LOT- 137-05 20 AVE               (x 1)
   PARKING LOT 137-05 20 AVENUE            (x 1)

Cluster 10
  PARKING LOT 138 ST & 38 AVE              (x 5)
  PARKING LOT 138 ST. & 38 AVE             (x 2)
  PARKING LOT 38 AVE & 138 ST              (x 1)
  PARKING LOT 138 ST & 38 AV               (x 1)
  PARKING LOT - 138 ST & 38 AVE            (x 2)

 We use the street specific standerdizer 'StandardizeUSStreetName' function to standerdize typos in the street names. Then we apply the generic FringerPrint clustering algorithm to determine if there are any remaining typos.

In [24]:
from openclean_geo.address.usstreet import StandardizeUSStreetName
f = StandardizeUSStreetName(characters='upper', alphanum=True, repeated=False)
on_street_names_std = f.apply(on_street_names, threads=3)
cross_street_names_std = f.apply(cross_street_names, threads=3)
off_street_names_std = f.apply(off_street_names, threads=3)

clusters_on_street = KeyCollision(func=Fingerprint(), threads=3).clusters(on_street_names_std)
clusters_cross_street = KeyCollision(func=Fingerprint(), threads=3).clusters(cross_street_names_std)
clusters_off_street = KeyCollision(func=Fingerprint(), threads=3).clusters(off_street_names_std)

print("Remaining Clusters in ON STREET NAMES")
clusters_print(clusters_on_street, 10)
print("\nRemaining Clusters in CROSS STREET NAMES")
clusters_print(clusters_cross_street, 10)
print("\nRemaining Clusters in OFF STREET NAMES")
clusters_print(clusters_off_street, 10)

Remaining Clusters in ON STREET NAMES
Total number of clusters is 20 with 41 values

Cluster 1
  ST NICHOLAS (x 5)
  ST NICHOLAS ST (x 1)
  NICHOLAS ST (x 27)

Cluster 2
  REV A JAMES POLITE AVE (x 1)
  REV JAMES A POLITE AVE (x 1)

Cluster 3
  EAST BEDFORD PARK BLVD (x 191)
  BEDFORD PARK BLVD EAST (x 4)

Cluster 4
  WEST BEDFORD PARK BLVD (x 51)
  BEDFORD PARK BLVD WEST (x 2)

Cluster 5
  NORTH BOUNDARY RD (x 1)
  BOUNDARY NORTH RD (x 1)

Cluster 6
  G C P L I E CDR (x 193)
  L I E G C P CDR (x 149)

Cluster 7
  GRAND CENTRAL PARKWAY SR WEST (x 1)
  GRAND CENTRAL PARKWAY WEST SR (x 1)

Cluster 8
  HUGH J GRANT CIR (x 37)
  HUGH GRANT J CIR (x 1)

Cluster 9
  CLEARVIEW EXPRESSWAY SR EAST (x 10)
  CLEARVIEW EXPRESSWAY EAST SR (x 10)

Cluster 10
  CROSS ISLAND PARKWAY SR SOUTH (x 32)
  CROSS ISLAND PARKWAY SOUTH SR (x 3)

Remaining Clusters in CROSS STREET NAMES
Total number of clusters is 19 with 38 values

Cluster 1
  2 1 AVE (x 1)
  2 AVE 1 AVE (x 1)

Cluster 2
  BAY 35 ST (x 49)
  35 BAY ST (x 1)

Cluster 3
  6 AVENUE 7 AVE (x 1)
  7 AVENUE 6 AVE (x 1)

Cluster 4
  EAST 63 ST (x 591)
  EAST ST 63 ST (x 1)

Cluster 5
  9 AVENUE 8 AVE (x 2)
  8 AVENUE 9 AVE (x 1)

Cluster 6
  EAST BEDFORD PARK BLVD (x 125)
  BEDFORD PARK BLVD EAST (x 4)

Cluster 7
  WEST BEDFORD PARK BLVD (x 56)
  BEDFORD PARK BLVD WEST (x 4)

Cluster 8
  BQE EAST SR NORTH (x 1)
  BQE EAST NORTH SR (x 1)

Cluster 9
  CLEARVIEW EXPRESSWAY EAST SR (x 2)
  CLEARVIEW EXPRESSWAY SR EAST (x 16)

Cluster 10
  WEST SHORE EXPRESSWAY EAST SR (x 1)
  WEST SHORE EXPRESSWAY SR EAST (x 1)

Remaining Clusters in OFF STREET NAMES
Total number of clusters is 733 with 1482 values

Cluster 1
  10 WEST ST (x 2)
  WEST 10 ST (x 2)
  10 WEST 10 ST (x 1)

Cluster 2
  WEST 144 ST (x 3)
  144 WEST ST (x 1)
  144 WEST 144 ST (x 1)

Cluster 3
  WEST 145 ST (x 9)
  145 WEST 145 ST (x 2)
  145 WEST ST (x 1)

Cluster 4
  20 WEST ST (x 6)
  20 WEST 20 ST (x 1)
  WEST 20 ST (x 1)

Cluster 5
  27 WEST 27 ST (x 1)
  WEST 27 ST (x 6)
  27 WEST ST (x 1)

Cluster 6
  28 WEST ST (x 3)
  28 WEST 28 ST (x 3)
  WEST 28 ST (x 3)

Cluster 7
  31 34 30 ST (x 2)
  31 30 34 ST (x 1)
  30 34 31 ST (x 1)

Cluster 8
  32 30 84 ST (x 1)
  30 84 32 ST (x 1)
  30 32 84 ST (x 1)

Cluster 9
  30 WEST ST (x 2)
  30 WEST 30 ST (x 1)
  WEST 30 ST (x 2)

Cluster 10
  31 WEST ST (x 2)
  WEST 31 ST (x 3)
  31 WEST 31 ST (x 3)

We get rid of the remaining typos by using a map to store alternative versions of a street name as the keys and the actual street name as the value in the map. Then we iterate through the street name columns to replace the typos using the generated map.

In [25]:
ON_STREET_MAPPING= {}
OFF_STREET_MAPPING= {}
CROSS_STREET_MAPPING= {}

#Generates a map containing typos of ON STREET NAME column as keys
def create_on_street_dict(cluster):
    for i in range(len(cluster)):
        sorted_cluster = sorted(cluster[i].items(), key=lambda x: x[1])
        for j in range(len(sorted_cluster)):
            if j==0:
                value=sorted_cluster[j][0]
            else:
                ON_STREET_MAPPING[sorted_cluster[j][0]]=value

#Generates a map containing typos of CROSS STREET NAME column as keys
def create_cross_street_dict(cluster):
    for i in range(len(cluster)):
        sorted_cluster = sorted(cluster[i].items(), key=lambda x: x[1])
        for j in range(len(sorted_cluster)):
            if j==0:
                value=sorted_cluster[j][0]
            else:
                CROSS_STREET_MAPPING[sorted_cluster[j][0]]=value

#Generates a map containing typos of OFF STREET NAME column as keys
def create_off_street_dict(cluster):
    for i in range(len(cluster)):
        sorted_cluster = sorted(cluster[i].items(), key=lambda x: x[1])
        for j in range(len(sorted_cluster)):
            if j==0:
                value=sorted_cluster[j][0]
            else:
                OFF_STREET_MAPPING[sorted_cluster[j][0]]=value

In [26]:
#Functions to iterate through the columns and remove remaining typos using the generated maps

def remove_remaining_clusters_on_street(series): 
    on_street_name=series['ON STREET NAME']
    if on_street_name in ON_STREET_MAPPING.keys():
        return(ON_STREET_MAPPING[on_street_name])
    else:
        return on_street_name

def remove_remaining_clusters_cross_street(series):
    cross_street_name=series['CROSS STREET NAME']
    if cross_street_name in CROSS_STREET_MAPPING.keys():
        return(CROSS_STREET_MAPPING[cross_street_name])
    else:
        return cross_street_name

def remove_remaining_clusters_off_street(series):
    off_street_name=series['OFF STREET NAME']
    if off_street_name in OFF_STREET_MAPPING.keys():
        return(OFF_STREET_MAPPING[off_street_name])
    else:
        return off_street_name

In [27]:
# applying StandardizeUSStreetName function on columns.

ds_fix_street = ds.update('ON STREET NAME', f)
ds_fix_street = ds_fix_street.update('CROSS STREET NAME', f)
ds_fix_street = ds_fix_street.update('OFF STREET NAME', f)

columns = [
    'CRASH DATE',
    'CRASH TIME',
    'BOROUGH',
    'ZIP CODE',
    'LATITUDE',
    'LONGITUDE',
    'LOCATION',
    'ON STREET NAME',
    'CROSS STREET NAME',
    'OFF STREET NAME',
    'COLLISION_ID'
]

df_cluster_typos = ds_fix_street.select(columns).to_df()
df_cluster_typos.head(10)

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,COLLISION_ID
0,04/14/2021,5:32,,,,,,BRONX WHITESTONE BRG,,,4407480
1,04/13/2021,21:35,BROOKLYN,11217,40.68358,-73.97617,"(40.68358, -73.97617)",,,620 ATLANTIC AVE,4407147
2,04/15/2021,16:15,,,,,,HUTCHINSON RIVER PKWY,,,4407665
3,04/13/2021,16:00,BROOKLYN,11222,,,,VANDERVORT AVE,ANTHONY ST,,4407811
4,04/12/2021,8:25,,,0,0,"(0.0, 0.0)",EDSON AVE,,,4406885
5,04/13/2021,17:11,,,,,,VERRAZANO BRIDGE UPPER,,,4407883
6,04/13/2021,17:30,QUEENS,11106,,,,33 ST,31 AVE,,4408019
7,04/16/2021,23:30,,,,,,SHORE PKWY,,,4408060
8,04/11/2021,17:00,,,,,,GOWANUS RAMP,,,4406314
9,04/16/2021,21:15,,,,,,BRONX RIVER PARKWAY RAMP,,,4408149

In [28]:
#calling the functions to remove remaining typos

create_on_street_dict(clusters_on_street)
create_cross_street_dict(clusters_cross_street)
create_off_street_dict(clusters_off_street)

df_cluster_typos['ON STREET NAME']=df_cluster_typos.apply(remove_remaining_clusters_on_street,axis=1)
df_cluster_typos['CROSS STREET NAME']=df_cluster_typos.apply(remove_remaining_clusters_cross_street,axis=1)
df_cluster_typos['OFF STREET NAME']=df_cluster_typos.apply(remove_remaining_clusters_off_street,axis=1)

df_cluster_typos.head()
ds_fix_street_name=stream(df_cluster_typos)

### 3. Key violations

In this dataset, the primary key should be COLLISION_ID, because COLLISION_ID can uniquely identify each collision. We try to find if there is any key violation.

In [29]:
from openclean.operator.map.violations import key_violations

# Ensure that COLLISION_ID is a key candidate now.
groups = key_violations(df_cluster_typos, ['COLLISION_ID'])
assert len(groups) == 0

print('# of violations for KEY(COLLISION_ID) is {}'.format(len(groups)))

# Total number of businesses.
print('Total number of records is {}'.format(len(df_cluster_typos)))

# of violations for KEY(COLLISION_ID) is 0
Total number of records is 1839256

### 4. Missing values

The most important columns that we will use to analyze are "CRASH DATE, CRASH TIME, BOROUGH, ZIP CODE, LATITUDE, LONGITUDE", so we just need to repair missing values in these columns.

According to profiling results, we know that columns "CRASH DATE" and "CRASH TIME" do not have missing values so that we don't need to take them into consideration. Columns "LATITUDE" and "LONGITUDE" are consistent, which means that they either exist at the same time or miss at the same time, and thus we could consider them as a whole.

###### (1) Complete records

Find out records whose columns "CRASH DATE, CRASH TIME, BOROUGH, ZIP CODE, LATITUDE, LONGITUDE" are not empty.

In [30]:
from openclean.function.eval.logic import *
from openclean.function.eval.null import *
from openclean.function.eval.domain import *

COLUMNS = [
    'CRASH DATE',
    'CRASH TIME',
    'BOROUGH',
    'ZIP CODE',
    'LATITUDE',
    'LONGITUDE',
    'ON STREET NAME',
    'CROSS STREET NAME',
    'OFF STREET NAME',
    'COLLISION_ID'
]

data_complete = ds_fix_street_name\
    .select(columns=COLUMNS)\
    .where(And(IsNotEmpty('LATITUDE'),IsNotEmpty('LONGITUDE'),IsNotEmpty('BOROUGH'),IsNotEmpty('ZIP CODE')))\
    .to_df()

In [31]:
data_complete

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,COLLISION_ID
1,04/13/2021,21:35,BROOKLYN,11217,40.68358,-73.97617,,,620 ATLANTIC AVE,4407147
13,05/21/2019,22:50,BROOKLYN,11201,40.69754,-73.98312,GOLD ST,CONCORD ST,,4136992
15,02/26/2021,14:50,BRONX,10461,40.843464,-73.836,,,2819 MIDDLETOWN RD,4395664
17,03/31/2021,22:20,BROOKLYN,11234,40.626457,-73.918,RALPH AVE,AVENUE K,,4403773
18,04/06/2021,22:58,STATEN ISLAND,10312,40.526894,-74.16728,BARCLAY AVE,HYLAN BLVD,,4405244
...,...,...,...,...,...,...,...,...,...,...
1839250,07/07/2012,17:35,BROOKLYN,11235,40.5758019,-73.9611371,BRIGHTON 6 ST,BRIGHTWATER CT,,113584
1839251,07/06/2012,15:09,MANHATTAN,10035,40.8012354,-73.9418153,EAST 119 ST,PARK AVE,,59654
1839252,07/03/2012,17:30,QUEENS,11102,40.7747112,-73.9333863,27 AVE,4 ST,,272592
1839253,07/01/2012,15:30,BROOKLYN,11236,40.6450318,-73.9199775,RALPH AVE,CLARENDON RD,,135041
1839255,07/05/2012,23:00,QUEENS,11367,40.7199104,-73.8090389,PARSONS BLVD,UNION TPKE,,233172

There are over 1.2 million complete records which we don't need to repair missing values.

###### (2) Repair missing zipcode or borough using latitude and longitude

Find out records whose column "BOROUGH" or "ZIP CODE" is empty but "LATITUDE" and "LONGITUDE" are not empty.

In [32]:
data_2 = ds_fix_street_name\
    .select(columns=COLUMNS)\
    .where(And(IsNotEmpty('LATITUDE'),IsNotEmpty('LONGITUDE'),Or(IsEmpty('BOROUGH'),IsEmpty('ZIP CODE'))))\
    .to_df()

In [33]:
data_2

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,COLLISION_ID
4,04/12/2021,8:25,,,0,0,EDSON AVE,,,4406885
16,03/09/2021,11:00,,,40.692547,-73.990974,COURT ST,JORALEMON ST,,4397513
19,04/09/2021,14:45,,,40.840775,-73.87246,BRONX RIVER PKWY,,,4405914
21,04/14/2021,11:00,,,40.694035,-73.72679,CROSS ISLAND PKWY,,,4407366
23,04/14/2021,14:40,,,40.698807,-73.91837,MYRTLE AVE,,,4407461
...,...,...,...,...,...,...,...,...,...,...
1839202,07/03/2012,16:47,,,40.8614057,-73.8277907,,,,2912100
1839212,07/04/2012,21:50,,,40.6915381,-73.99911,,,,2983048
1839215,07/07/2012,18:40,,,40.8673349,-73.8227066,,,,2912116
1839245,07/10/2012,7:00,,,40.6276429,-73.8902159,,,,2960052
1839254,07/08/2012,18:30,,,40.7861217,-73.8040782,,,,3055617

There are 0.38 million records.

**In order to repair missing values in this part, we could use geographic coordinates(latitude and longitude) to obtain a zipcode, and then transform a zipcode to a borough.**

First, we generate a csv file containing LATITUDE,LONGITUDE and COLLISION_ID.

In [34]:
data_togeo = data_2.drop(['CRASH DATE','CRASH TIME','BOROUGH','ZIP CODE','ON STREET NAME','CROSS STREET NAME','OFF STREET NAME'],axis=1)
data_togeo.to_csv('geo_coordinates.csv')

We obtain a new csv file - "out_test.csv"

In [35]:
import pandas as pd
geo = pd.read_csv('out_test.csv')
geo = geo[['ZIP_CODE']]

In [36]:
data_2 = data_2.reset_index()
data_2 = data_2.drop(['index'],axis = 1)
data_2 = pd.concat([data_2,geo],axis=1)
data_2.loc[(data_2['ZIP CODE'] == ''),'ZIP CODE'] = data_2['ZIP_CODE']
data_2.loc[(data_2['ZIP CODE'] == 'None'),'ZIP CODE'] = ''
data_2=data_2.drop(['ZIP_CODE'],axis=1)
data_2

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,COLLISION_ID
0,04/12/2021,8:25,,,0,0,EDSON AVE,,,4406885
1,03/09/2021,11:00,,11201,40.692547,-73.990974,COURT ST,JORALEMON ST,,4397513
2,04/09/2021,14:45,,10460,40.840775,-73.87246,BRONX RIVER PKWY,,,4405914
3,04/14/2021,11:00,,11411,40.694035,-73.72679,CROSS ISLAND PKWY,,,4407366
4,04/14/2021,14:40,,11237,40.698807,-73.91837,MYRTLE AVE,,,4407461
...,...,...,...,...,...,...,...,...,...,...
386484,07/03/2012,16:47,,10475,40.8614057,-73.8277907,,,,2912100
386485,07/04/2012,21:50,,11201,40.6915381,-73.99911,,,,2983048
386486,07/07/2012,18:40,,10475,40.8673349,-73.8227066,,,,2912116
386487,07/10/2012,7:00,,11236,40.6276429,-73.8902159,,,,2960052
386488,07/08/2012,18:30,,11357,40.7861217,-73.8040782,,,,3055617

In [37]:
manhattan_zipcode = ['10001','10002','10003','10004','10005','10006','10007','10008','10009','10010','10011','10012','10013','10014','10015','10016','10017','10018','10019','10020','10021','10022','10023','10024','10025','10026','10027','10028','10029','10030','10031','10032','10033','10034','10035','10036','10037','10038','10039','10040','10041','10043','10044','10045','10048','10055','10060','10065','10069','10075','10080','10081','10087','10090','10095','10098','10099','10103','10104','10105','10106','10107','10110','10111','10112','10115','10118','10119','10120','10121','10122','10123','10128','10151','10152','10153','10154','10155','10158','10161','10162','10165','10166','10167','10168','10169','10170','10171','10172','10173','10174','10175','10176','10177','10178','10199','10270','10271','10278','10279','10280','10281','10282']
staten_zipcode = ['10301','10302','10303','10304','10305','10306','10307','10308','10309','10310','10311','10312','10313','10314']
bronx_zipcode = ['10451','10452','10453','10454','10455','10456','10457','10458','10459','10460','10461','10462','10463','10464','10465','10466','10467','10468','10469','10470','10471','10472','10473','10474','10475']
queens_zipcode = ['11004','11005','11101','11102','11103','11104','11105','11106','11109','11120','11351','11352','11354','11355','11356','11357','11358','11359','11360','11361','11362','11363','11364','11365','11366','11367','11368','11369','11370','11371','11372','11373','11374','11375','11377','11378','11379','11380','11381','11385','11386','11405','11411','11412','11413','11414','11415','11416','11417','11418','11419','11420','11421','11422','11423','11424','11425','11426','11427','11428','11429','11430','11431','11432','11433','11434','11435','11436','11437','11439','11451','11499','11690','11691','11692','11693','11694','11695','11697']
brooklyn_zipcode = ['11201','11202','11203','11204','11205','11206','11207','11208','11209','11210','11211','11212','11213','11214','11215','11216','11217','11218','11219','11220','11221','11222','11223','11224','11225','11226','11228','11229','11230','11231','11232','11233','11234','11235','11236','11237','11238','11239','11241','11242','11243','11245','11247','11249','11251','11252','11256']

In [38]:
def zipcode2borough(series):
        borough = series['BOROUGH']
        zipcode = series['ZIP CODE']
      
        if borough == '':
            if zipcode in manhattan_zipcode:
                borough = 'MANHATTAN'
            elif zipcode in staten_zipcode:
                borough = 'STATEN ISLAND'
            elif zipcode in bronx_zipcode:
                borough = 'BRONX'
            elif zipcode in queens_zipcode:
                borough = 'QUEENS'
            elif zipcode in brooklyn_zipcode:
                borough = 'BROOKLYN'
            else:
                borough = ''
        return borough

In [39]:
data_2['BOROUGH'] = data_2.apply(zipcode2borough,axis=1)

In [40]:
data_2

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,COLLISION_ID
0,04/12/2021,8:25,,,0,0,EDSON AVE,,,4406885
1,03/09/2021,11:00,BROOKLYN,11201,40.692547,-73.990974,COURT ST,JORALEMON ST,,4397513
2,04/09/2021,14:45,BRONX,10460,40.840775,-73.87246,BRONX RIVER PKWY,,,4405914
3,04/14/2021,11:00,QUEENS,11411,40.694035,-73.72679,CROSS ISLAND PKWY,,,4407366
4,04/14/2021,14:40,BROOKLYN,11237,40.698807,-73.91837,MYRTLE AVE,,,4407461
...,...,...,...,...,...,...,...,...,...,...
386484,07/03/2012,16:47,BRONX,10475,40.8614057,-73.8277907,,,,2912100
386485,07/04/2012,21:50,BROOKLYN,11201,40.6915381,-73.99911,,,,2983048
386486,07/07/2012,18:40,BRONX,10475,40.8673349,-73.8227066,,,,2912116
386487,07/10/2012,7:00,BROOKLYN,11236,40.6276429,-73.8902159,,,,2960052
386488,07/08/2012,18:30,QUEENS,11357,40.7861217,-73.8040782,,,,3055617

###### （3） Missing values that we could not repair

In [41]:
data_3 = ds_fix_street_name\
    .select(columns=COLUMNS)\
    .where(And(IsEmpty('LATITUDE'),IsEmpty('LONGITUDE')))\
    .to_df()

In [42]:
data_3

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,COLLISION_ID
0,04/14/2021,5:32,,,,,BRONX WHITESTONE BRG,,,4407480
2,04/15/2021,16:15,,,,,HUTCHINSON RIVER PKWY,,,4407665
3,04/13/2021,16:00,BROOKLYN,11222,,,VANDERVORT AVE,ANTHONY ST,,4407811
5,04/13/2021,17:11,,,,,VERRAZANO BRIDGE UPPER,,,4407883
6,04/13/2021,17:30,QUEENS,11106,,,33 ST,31 AVE,,4408019
...,...,...,...,...,...,...,...,...,...,...
1839189,07/09/2012,5:15,,,,,,,2601 OCEAN PARKWAY PARKING LOT,113583
1839208,07/02/2012,15:20,,,,,OCEAN PKWY,SHORE PKWY,,113554
1839223,07/09/2012,21:19,,,,,,,,2937609
1839238,07/06/2012,16:10,,,,,,,,2888480
1839249,07/08/2012,1:30,,,,,DIVISION AVE,MARCY AVE,,193887

In [43]:
dataframes = [data_complete,data_2,data_3]
dataset_fix_missing = pd.concat(dataframes)

### 5. Inconsistency between values

###### (1)  Find violations of the functional dependency: ZIP CODE => BOROUGH.

In [44]:
from openclean.function.eval.logic import Or
from openclean.function.eval.null import IsEmpty
from openclean.operator.transform.filter import delete

df_fd2 = delete(dataset_fix_missing, Or(IsEmpty('ZIP CODE'), IsEmpty('BOROUGH')))

In [45]:
# Find violations of the functional dependency: ZIP CODE -> BOROUGH.

from openclean.operator.map.violations import fd_violations
fd2_violations = fd_violations(df_fd2, lhs='ZIP CODE', rhs='BOROUGH')
print('# of violations for FD(ZIP CODE -> BOROUGH) is {}'.format(len(fd2_violations)))

# of violations for FD(ZIP CODE -> BOROUGH) is 6

In [46]:
# Show street names that cause violations of the functional dependency.

from openclean.operator.collector.count import distinct

print('ZIP CODE | BOROUGH')
print('=============|===============')
for key in fd2_violations:
    conflicts = distinct(fd2_violations.get(key), 'BOROUGH').most_common()
    street, count = conflicts[0]
    print('{:<12} | {} x {}'.format(key, count, street))
    for street, count in conflicts[1:]:
        print('             | {} x {}'.format(count, street))
    print('-------------|---------------')

ZIP CODE | BOROUGH
=============|===============
11237        | 8547 x BROOKLYN
             | 325 x QUEENS
-------------|---------------
11385        | 18473 x QUEENS
             | 34 x BROOKLYN
-------------|---------------
11222        | 12351 x BROOKLYN
             | 1 x MANHATTAN
-------------|---------------
10301        | 7664 x STATEN ISLAND
             | 2 x QUEENS
-------------|---------------
11208        | 18743 x BROOKLYN
             | 171 x QUEENS
-------------|---------------
11421        | 6189 x QUEENS
             | 7 x BROOKLYN
-------------|---------------

Find the correct BOROUGH and repair them.

In [47]:
print(zipcodestr_to_borough_dict['11237'])
print(zipcodestr_to_borough_dict['11385'])
print(zipcodestr_to_borough_dict['11222'])
print(zipcodestr_to_borough_dict['10301'])
print(zipcodestr_to_borough_dict['11208'])
print(zipcodestr_to_borough_dict['11421'])

BROOKLYN
QUEENS
BROOKLYN
STATEN ISLAND
BROOKLYN
QUEENS

In [48]:
dataset_fix_missing.loc[(dataset_fix_missing['ZIP CODE']=='11237')&(dataset_fix_missing['BOROUGH']=='QUEENS'),'BOROUGH'] = 'BROOKLYN'

In [49]:
dataset_fix_missing.loc[(dataset_fix_missing['ZIP CODE']=='11385')&(dataset_fix_missing['BOROUGH']=='BROOKLYN'),'BOROUGH'] = 'QUEENS'

In [50]:
dataset_fix_missing.loc[(dataset_fix_missing['ZIP CODE']=='11222')&(dataset_fix_missing['BOROUGH']=='MANHATTAN'),'BOROUGH'] = 'BROOKLYN'

In [51]:
dataset_fix_missing.loc[(dataset_fix_missing['ZIP CODE']=='10301')&(dataset_fix_missing['BOROUGH']=='QUEENS'),'BOROUGH'] = 'BROOKLYN'

In [52]:
dataset_fix_missing.loc[(dataset_fix_missing['ZIP CODE']=='11421')&(dataset_fix_missing['BOROUGH']=='BROOKLYN'),'BOROUGH'] = 'QUEENS'

###### (2) Find violations of the functional dependency: [OFF STREET NAME, BOROUGH] -> ZIP CODE.

In [53]:
df_fd1 = delete(dataset_fix_missing, Or(IsEmpty('OFF STREET NAME'), IsEmpty('BOROUGH'), IsEmpty('ZIP CODE')))

# What is the pandas equivalent ??? These are the rows we want to delete:
# df[df['OFF STREET NAME'].isnull() | df['BOROUGH'].isnull() | df['ZIP CODE'].isnull()]

In [54]:
# Find violations of the functional dependency: [OFF STREET NAME, BOROUGH] -> ZIP CODE.

fd1_violations = fd_violations(df_fd1, lhs=['OFF STREET NAME', 'BOROUGH'], rhs='ZIP CODE')
print('# of violations for FD(OFF STREET NAME, BOROUGH -> ZIP CODE) is {}'.format(len(fd1_violations)))

# of violations for FD(OFF STREET NAME, BOROUGH -> ZIP CODE) is 901

In [55]:
# Show street names that cause violations of the functional dependency.

from openclean.operator.collector.count import distinct

print('OFF STREET NAME，  BOROUGH | ZIP CODE')
print('============================|===============')
for key in fd1_violations:
    conflicts = distinct(fd1_violations.get(key), ['ZIP CODE']).most_common()
    street, count = conflicts[0]
    print('{} | {} x {}'.format(key, count, street))
    for street, count in conflicts[1:]:
        print('                             | {} x {}'.format(count, street))
    print('-------------|---------------')

OFF STREET NAME，  BOROUGH | ZIP CODE
============================|===============
('60 74 70 ST', 'QUEENS') | 1 x 11378
                             | 1 x 11379
-------------|---------------
('455 GATEWAY DR', 'BROOKLYN') | 9 x 11239
                             | 1 x 11208
-------------|---------------
('104 45 32 AVE', 'QUEENS') | 3 x 11368
                             | 1 x 11369
-------------|---------------
('37 19 37 ST', 'QUEENS') | 5 x 11105
                             | 1 x 11101
-------------|---------------
('41 22 50 ST', 'QUEENS') | 1 x 11377
                             | 1 x 11105
-------------|---------------
('39 WEST 32 ST', 'MANHATTAN') | 3 x 10018
                             | 2 x 10001
-------------|---------------
('21 06 35 ST', 'QUEENS') | 4 x 11106
                             | 1 x 11105
-------------|---------------
('WEST 51 ST', 'MANHATTAN') | 13 x 10019
                             | 1 x 10111
-------------|---------------
('25 95 37 ST', 'QUEENS') | 2 x 11103
                             | 2 x 11372
-------------|---------------
('52 32 83 ST', 'QUEENS') | 1 x 11373
                             | 1 x 11370
-------------|---------------
('58 WEST 33 ST', 'MANHATTAN') | 2 x 10019
                             | 1 x 10001
-------------|---------------
('2285 JEROME AVE', 'BRONX') | 5 x 10453
                             | 4 x 10468
-------------|---------------
('28 WEST 48 ST', 'MANHATTAN') | 2 x 10001
                             | 1 x 10036
-------------|---------------
('31 89 35 ST', 'QUEENS') | 1 x 11106
                             | 1 x 11369
-------------|---------------
('125 WEST 55 ST', 'MANHATTAN') | 19 x 10027
                             | 6 x 10019
-------------|---------------
('42 WEST 120 ST', 'MANHATTAN') | 9 x 10036
                             | 2 x 10027
-------------|---------------
('111 WEST 46 ST', 'MANHATTAN') | 2 x 10026
                             | 1 x 10036
-------------|---------------
('25 40 30 AVE', 'QUEENS') | 1 x 11102
                             | 1 x 11101
-------------|---------------
('31 23 AVE', 'QUEENS') | 2 x 11106
                             | 1 x 11105
-------------|---------------
('450 FLATBUSH AVE', 'BROOKLYN') | 159 x 11225
                             | 5 x 11238
-------------|---------------
('32 38 75 ST', 'QUEENS') | 1 x 11370
                             | 1 x 11103
-------------|---------------
('130 WEST 118 ST', 'MANHATTAN') | 3 x 10027
                             | 1 x 10026
-------------|---------------
('28 WEST 120 ST', 'MANHATTAN') | 2 x 10001
                             | 1 x 10027
-------------|---------------
('26 EAST 129 ST', 'MANHATTAN') | 1 x 10035
                             | 1 x 10010
-------------|---------------
('90 01 153 AVE', 'QUEENS') | 1 x 11414
                             | 1 x 11432
-------------|---------------
('35 61 JUNCTION BLVD', 'QUEENS') | 65 x 11374
                             | 1 x 11368
-------------|---------------
('112 WEST 20 ST', 'MANHATTAN') | 6 x 10026
                             | 2 x 10011
-------------|---------------
('15 EAST 119 ST', 'MANHATTAN') | 2 x 10003
                             | 1 x 10035
-------------|---------------
('110 WEST 129 ST', 'MANHATTAN') | 2 x 10026
                             | 1 x 10027
-------------|---------------
('30 WEST 138 ST', 'MANHATTAN') | 10 x 10001
                             | 4 x 10037
-------------|---------------
('11 EAST 29 ST', 'MANHATTAN') | 2 x 10016
                             | 2 x 10003
-------------|---------------
('35 ST', 'QUEENS') | 5 x 11103
                             | 4 x 11106
                             | 3 x 11101
-------------|---------------
('14 EAST 52 ST', 'MANHATTAN') | 6 x 10003
                             | 3 x 10022
-------------|---------------
('31 49 45 ST', 'QUEENS') | 1 x 11103
                             | 1 x 11377
-------------|---------------
('76 11 NORTHERN BLVD', 'QUEENS') | 9 x 11372
                             | 1 x 11370
-------------|---------------
('29 WEST 52 ST', 'MANHATTAN') | 1 x 10019
                             | 1 x 10001
-------------|---------------
('114 WEST 114 ST', 'MANHATTAN') | 2 x 10026
                             | 2 x 10025
-------------|---------------
('24 EAST 123 ST', 'MANHATTAN') | 1 x 10035
                             | 1 x 10010
-------------|---------------
('25 38 22 ST', 'QUEENS') | 2 x 11105
                             | 1 x 11102
-------------|---------------
('35 WEST 45 ST', 'MANHATTAN') | 3 x 10001
                             | 2 x 10036
-------------|---------------
('25 35 STEINWAY ST', 'QUEENS') | 4 x 11101
                             | 1 x 11103
-------------|---------------
('30 73 37 ST', 'QUEENS') | 6 x 11372
                             | 1 x 11103
-------------|---------------
('43 WEST 33 ST', 'MANHATTAN') | 4 x 10036
                             | 3 x 10001
-------------|---------------
('36 EAST 23 ST', 'MANHATTAN') | 6 x 10016
                             | 4 x 10010
-------------|---------------
('48 WEST 48 ST', 'MANHATTAN') | 12 x 10036
                             | 3 x 10020
-------------|---------------
('2750 BOSTON RD', 'BRONX') | 13 x 10469
                             | 1 x 10467
-------------|---------------
('34 WEST 50 ST', 'MANHATTAN') | 7 x 10001
                             | 1 x 10112
-------------|---------------
('123 50 ROOSEVELT AVE', 'QUEENS') | 1 x 11368
                             | 1 x 11355
-------------|---------------
('59 71 59 ST', 'QUEENS') | 1 x 11378
                             | 1 x 11385
-------------|---------------
('18 25 123 ST', 'QUEENS') | 1 x 11356
                             | 1 x 11354
-------------|---------------
('30 WEST 130 ST', 'MANHATTAN') | 5 x 10001
                             | 1 x 10037
-------------|---------------
('23 WEST ST', 'MANHATTAN') | 8 x 10011
                             | 3 x 10006
                             | 2 x 10010
-------------|---------------
('4 EAST 82 ST', 'MANHATTAN') | 1 x 10028
                             | 1 x 10003
-------------|---------------
('129 EAST 110 ST', 'MANHATTAN') | 5 x 10035
                             | 1 x 10029
-------------|---------------
('11 WEST ST', 'BROOKLYN') | 2 x 11222
                             | 2 x 11223
-------------|---------------
('71 WEST 119 ST', 'MANHATTAN') | 1 x 10026
                             | 1 x 10023
-------------|---------------
('49 WEST 29 ST', 'MANHATTAN') | 2 x 10112
                             | 1 x 10001
-------------|---------------
('125 EAST 11 ST', 'MANHATTAN') | 3 x 10035
                             | 2 x 10003
-------------|---------------
('44 WEST 12 ST', 'MANHATTAN') | 5 x 10036
                             | 1 x 10011
-------------|---------------
('16 WEST 136 ST', 'MANHATTAN') | 2 x 10011
                             | 1 x 10037
-------------|---------------
('42 WEST 33 ST', 'MANHATTAN') | 20 x 10036
                             | 2 x 10001
-------------|---------------
('100 WEST 23 ST', 'MANHATTAN') | 2 x 10011
                             | 2 x 10025
-------------|---------------
('45 35 48 ST', 'QUEENS') | 1 x 11377
                             | 1 x 11101
-------------|---------------
('24 33 93 ST', 'QUEENS') | 7 x 11372
                             | 1 x 11369
-------------|---------------
('31 WEST ST', 'MANHATTAN') | 6 x 10001
                             | 2 x 10006
-------------|---------------
('31 EAST 12 ST', 'MANHATTAN') | 2 x 10016
                             | 1 x 10003
-------------|---------------
('27 WEST 27 ST', 'MANHATTAN') | 4 x 10001
                             | 3 x 10010
-------------|---------------
('39 WEST 21 ST', 'MANHATTAN') | 5 x 10018
                             | 1 x 10010
-------------|---------------
('77 EAST 3 ST', 'MANHATTAN') | 4 x 10075
                             | 1 x 10003
-------------|---------------
('4 EAST 34 ST', 'MANHATTAN') | 2 x 10016
                             | 2 x 10003
-------------|---------------
('37 EAST 1 ST', 'MANHATTAN') | 6 x 10016
                             | 1 x 10003
-------------|---------------
('32 40 82 ST', 'QUEENS') | 2 x 11373
                             | 1 x 11370
-------------|---------------

('23 WEST 43 ST', 'MANHATTAN') | 2 x 10010
                             | 1 x 10036
-------------|---------------
('149 EAST 149 ST', 'BRONX') | 2 x 10451
                             | 1 x 10455
-------------|---------------
('30 EAST 10 ST', 'MANHATTAN') | 3 x 10016
                             | 1 x 10003
-------------|---------------
('112 EAST 65 ST', 'MANHATTAN') | 6 x 10029
                             | 1 x 10065
-------------|---------------
('21 23 31 AVE', 'QUEENS') | 1 x 11106
                             | 1 x 11105
-------------|---------------
('30 55 84 ST', 'QUEENS') | 1 x 11370
                             | 1 x 11373
-------------|---------------
('30 88 44 ST', 'QUEENS') | 1 x 11103
                             | 1 x 11369
-------------|---------------
('125 EAST 116 ST', 'MANHATTAN') | 19 x 10035
                             | 1 x 10029
-------------|---------------
('1065 ELTON ST', 'BROOKLYN') | 4 x 11208
                             | 1 x 11239
-------------|---------------
('32 30 84 ST', 'QUEENS') | 2 x 11370
                             | 1 x 11102
-------------|---------------
('4 EAST 14 ST', 'MANHATTAN') | 1 x 10003
                             | 1 x 10012
-------------|---------------
('87 88 VANWYCK EXPY', 'QUEENS') | 1 x 11418
                             | 1 x 11435
-------------|---------------
('74 60 65 ST', 'QUEENS') | 1 x 11385
                             | 1 x 11379
-------------|---------------
('38 25 31 ST', 'QUEENS') | 4 x 11102
                             | 1 x 11101
-------------|---------------
('35 38 JUNCTION BLVD', 'QUEENS') | 8 x 11368
                             | 1 x 11372
-------------|---------------
('115 WEST 125 ST', 'MANHATTAN') | 7 x 10026
                             | 2 x 10027
-------------|---------------
('21 03 38 ST', 'QUEENS') | 2 x 11101
                             | 1 x 11105
-------------|---------------
('43 WEST 124 ST', 'MANHATTAN') | 2 x 10036
                             | 1 x 10027
-------------|---------------
('56 WEST ST', 'MANHATTAN') | 6 x 10019
                             | 1 x 10006
-------------|---------------
('26 38 21 ST', 'QUEENS') | 9 x 11101
                             | 7 x 11102
-------------|---------------
('23 73 35 ST', 'QUEENS') | 1 x 11105
                             | 1 x 11372
-------------|---------------
('32 49 56 ST', 'QUEENS') | 1 x 11377
                             | 1 x 11103
-------------|---------------
('25 20 CRESCENT ST', 'QUEENS') | 2 x 11105
                             | 1 x 11102
-------------|---------------
('129 EAST 29 ST', 'MANHATTAN') | 1 x 10016
                             | 1 x 10035
-------------|---------------
('34 WEST 120 ST', 'MANHATTAN') | 1 x 10027
                             | 1 x 10120
-------------|---------------
('95 35 95 ST', 'QUEENS') | 4 x 11372
                             | 2 x 11416
-------------|---------------
('55 WEST 33 ST', 'MANHATTAN') | 2 x 10019
                             | 1 x 10001
-------------|---------------
('34 31 48 ST', 'QUEENS') | 1 x 11101
                             | 1 x 11106
-------------|---------------
('127 WEST 141 ST', 'MANHATTAN') | 4 x 10027
                             | 2 x 10030
-------------|---------------
('50 WEST 87 ST', 'MANHATTAN') | 1 x 10024
                             | 1 x 10020
-------------|---------------
('31 30 34 ST', 'QUEENS') | 3 x 11106
                             | 1 x 11102
-------------|---------------
('23 EAST 115 ST', 'MANHATTAN') | 6 x 10010
                             | 2 x 10029
-------------|---------------
('43 31 39 ST', 'QUEENS') | 1 x 11104
                             | 1 x 11103
-------------|---------------
('32 37 62 ST', 'QUEENS') | 1 x 11377
                             | 1 x 11103
-------------|---------------
('111 WEST 24 ST', 'MANHATTAN') | 3 x 10026
                             | 1 x 10011
-------------|---------------
('38 24 ST', 'QUEENS') | 1 x 11101
                             | 1 x 11103
-------------|---------------
('45 WEST 135 ST', 'MANHATTAN') | 12 x 10036
                             | 2 x 10037
-------------|---------------
('145 WEST ST', 'MANHATTAN') | 5 x 10039
                             | 3 x 10030
                             | 3 x 10031
-------------|---------------
('9 EAST 9 ST', 'MANHATTAN') | 1 x 10003
                             | 1 x 10009
-------------|---------------
('94 89 218 ST', 'QUEENS') | 1 x 11428
                             | 1 x 11427
-------------|---------------
('57 WEST 57 ST', 'MANHATTAN') | 26 x 10019
                             | 4 x 10006
-------------|---------------
('24 WEST 119 ST', 'MANHATTAN') | 1 x 10026
                             | 1 x 10011
-------------|---------------
('31 37 102 ST', 'QUEENS') | 1 x 11369
                             | 1 x 11368
-------------|---------------
('4 WEST 4 ST', 'MANHATTAN') | 1 x 10012
                             | 1 x 10014
-------------|---------------
('22 36 35 ST', 'QUEENS') | 1 x 11105
                             | 1 x 11106
-------------|---------------
('34 22 93 ST', 'QUEENS') | 1 x 11372
                             | 1 x 11369
-------------|---------------
('48 WEST 25 ST', 'MANHATTAN') | 1 x 10010
                             | 1 x 10020
-------------|---------------
('29 WEST 125 ST', 'MANHATTAN') | 2 x 10027
                             | 2 x 10001
-------------|---------------
('22 40 80 ST', 'QUEENS') | 2 x 11373
                             | 1 x 11370
-------------|---------------
('1149 ELTON ST', 'BROOKLYN') | 2 x 11239
                             | 2 x 11208
-------------|---------------
('55 EAST 110 ST', 'MANHATTAN') | 2 x 10022
                             | 1 x 10029
-------------|---------------
('30 29 44 ST', 'QUEENS') | 3 x 11102
                             | 1 x 11103
-------------|---------------
('117 WEST ST', 'MANHATTAN') | 3 x 10026
                             | 2 x 10007
-------------|---------------
('27 WEST 20 ST', 'MANHATTAN') | 4 x 10001
                             | 2 x 10011
-------------|---------------
('125 WEST 43 ST', 'MANHATTAN') | 4 x 10027
                             | 1 x 10036
-------------|---------------
('82 WEST 120 ST', 'MANHATTAN') | 14 x 10024
                             | 1 x 10027
-------------|---------------
('19 EAST 108 ST', 'MANHATTAN') | 2 x 10003
                             | 1 x 10029
-------------|---------------
('16 WEST 111 ST', 'MANHATTAN') | 1 x 10026
                             | 1 x 10011
-------------|---------------
('124 EAST 116 ST', 'MANHATTAN') | 6 x 10035
                             | 2 x 10029
-------------|---------------
('150 87 71 AVE', 'QUEENS') | 1 x 11367
                             | 1 x 11432
-------------|---------------
('WEST 116 ST', 'MANHATTAN') | 4 x 10026
                             | 1 x 10027
-------------|---------------
('28 46 31 ST', 'QUEENS') | 1 x 11102
                             | 1 x 11103
-------------|---------------
('1 EAST 58 ST', 'MANHATTAN') | 2 x 10003
                             | 1 x 10022
-------------|---------------
('71 EAST 119 ST', 'MANHATTAN') | 1 x 10035
                             | 1 x 10021
-------------|---------------
('54 EAST 125 ST', 'MANHATTAN') | 1 x 10035
                             | 1 x 10022
-------------|---------------
('36 03 23 AVE', 'QUEENS') | 2 x 11106
                             | 1 x 11105
-------------|---------------
('41 24 39 ST', 'QUEENS') | 1 x 11104
                             | 1 x 11101
-------------|---------------
('163 16 89 ST', 'QUEENS') | 2 x 11432
                             | 1 x 11414
-------------|---------------
('3 EAST 57 ST', 'MANHATTAN') | 2 x 10022
                             | 2 x 10003
-------------|---------------
('22 35 80 ST', 'QUEENS') | 1 x 11370
                             | 1 x 11372
-------------|---------------
('36 WEST 20 ST', 'MANHATTAN') | 5 x 10018
                             | 1 x 10011
-------------|---------------
('15 WEST 36 ST', 'MANHATTAN') | 2 x 10011
                             | 1 x 10018
-------------|---------------
('1179 ELTON ST', 'BROOKLYN') | 2 x 11208
                             | 1 x 11239
-------------|---------------
('24 WEST 12 ST', 'MANHATTAN') | 1 x 10011
                             | 1 x 10010
-------------|---------------
('28 EAST 125 ST', 'MANHATTAN') | 1 x 10035
                             | 1 x 10016
-------------|---------------
('22 70 33 ST', 'QUEENS') | 1 x 11105
                             | 1 x 11372
-------------|---------------

('65 WEST 36 ST', 'MANHATTAN') | 1 x 10018
                             | 1 x 10023
-------------|---------------
('132 WEST 45 ST', 'MANHATTAN') | 8 x 10037
                             | 1 x 10036
-------------|---------------
('40 WEST 8 ST', 'MANHATTAN') | 3 x 10018
                             | 1 x 10011
-------------|---------------
('31 WEST 125 ST', 'MANHATTAN') | 5 x 10001
                             | 2 x 10027
-------------|---------------
('34 24 98 ST', 'QUEENS') | 2 x 11369
                             | 1 x 11368
-------------|---------------
('21 77 33 ST', 'QUEENS') | 1 x 11105
                             | 1 x 11370
-------------|---------------
('27 WEST 105 ST', 'MANHATTAN') | 2 x 10001
                             | 1 x 10025
-------------|---------------
('30 37 81 ST', 'QUEENS') | 2 x 11372
                             | 1 x 11370
-------------|---------------
('WEST 75 ST', 'MANHATTAN') | 7 x 10006
                             | 3 x 10023
-------------|---------------
('23 EAST 10 ST', 'MANHATTAN') | 3 x 10010
                             | 1 x 10003
-------------|---------------
('132 WEST 10 ST', 'MANHATTAN') | 1 x 10014
                             | 1 x 10037
-------------|---------------
('102 EAST 10 ST', 'MANHATTAN') | 3 x 10029
                             | 1 x 10003
-------------|---------------
('17 WEST 23 ST', 'MANHATTAN') | 2 x 10011
                             | 1 x 10010
-------------|---------------
('30 74 36 ST', 'QUEENS') | 1 x 11103
                             | 1 x 11370
-------------|---------------
('66 WEST 47 ST', 'MANHATTAN') | 2 x 10036
                             | 2 x 10023
-------------|---------------
('50 WEST 50 ST', 'MANHATTAN') | 19 x 10006
                             | 7 x 10112
                             | 7 x 10019
-------------|---------------
('37 25 75 ST', 'QUEENS') | 2 x 11103
                             | 1 x 11372
-------------|---------------
('43 WEST 110 ST', 'MANHATTAN') | 1 x 10026
                             | 1 x 10036
-------------|---------------
('37 WEST 65 ST', 'MANHATTAN') | 3 x 10018
                             | 1 x 10023
-------------|---------------
('EAST 27 ST', 'MANHATTAN') | 13 x 10016
                             | 2 x 10010
-------------|---------------
('32 WEST 25 ST', 'MANHATTAN') | 5 x 10001
                             | 3 x 10010
-------------|---------------
('125 EAST 56 ST', 'MANHATTAN') | 1 x 10022
                             | 1 x 10035
-------------|---------------
('60 79 METROPOLITAN AVE', 'QUEENS') | 7 x 11379
                             | 1 x 11385
-------------|---------------
('124 WEST 16 ST', 'MANHATTAN') | 1 x 10011
                             | 1 x 10027
-------------|---------------
('248 25 NORTHERN BLVD', 'QUEENS') | 8 x 11362
                             | 1 x 11363
-------------|---------------
('41 32 95 ST', 'QUEENS') | 2 x 11369
                             | 1 x 11373
-------------|---------------
('7 EAST 48 ST', 'MANHATTAN') | 2 x 10003
                             | 1 x 10017
-------------|---------------
('44 WEST 37 ST', 'MANHATTAN') | 2 x 10036
                             | 1 x 10018
-------------|---------------
('120 WEST 17 ST', 'MANHATTAN') | 1 x 10011
                             | 1 x 10027
-------------|---------------
('44 WEST 28 ST', 'MANHATTAN') | 2 x 10036
                             | 1 x 10001
-------------|---------------
('22 31 37 ST', 'QUEENS') | 2 x 11101
                             | 1 x 11105
-------------|---------------
('23 WEST 119 ST', 'MANHATTAN') | 4 x 10011
                             | 1 x 10026
-------------|---------------
('31 37 79 ST', 'QUEENS') | 4 x 11372
                             | 1 x 11370
-------------|---------------
('31 57 43 ST', 'QUEENS') | 1 x 11103
                             | 1 x 11377
-------------|---------------
('39 WEST 55 ST', 'MANHATTAN') | 6 x 10018
                             | 1 x 10019
-------------|---------------
('35 16 21 ST', 'QUEENS') | 1 x 11106
                             | 1 x 11105
-------------|---------------
('44 EAST 3 ST', 'MANHATTAN') | 1 x 10003
                             | 1 x 10017
-------------|---------------
('40 WEST 119 ST', 'MANHATTAN') | 4 x 10018
                             | 1 x 10026
-------------|---------------
('WEST 40 ST', 'MANHATTAN') | 18 x 10018
                             | 1 x 10036
-------------|---------------
('31 47 31 ST', 'QUEENS') | 1 x 11106
                             | 1 x 11103
-------------|---------------
('17 WEST 34 ST', 'MANHATTAN') | 2 x 10011
                             | 1 x 10001
-------------|---------------
('28 WEST 111 ST', 'MANHATTAN') | 1 x 10026
                             | 1 x 10001
-------------|---------------
('39 WEST 34 ST', 'MANHATTAN') | 1 x 10001
                             | 1 x 10018
-------------|---------------
('32 WEST 23 ST', 'MANHATTAN') | 3 x 10001
                             | 1 x 10010
-------------|---------------
('28 WEST 38 ST', 'MANHATTAN') | 1 x 10018
                             | 1 x 10001
-------------|---------------
('39 WEST 15 ST', 'MANHATTAN') | 4 x 10018
                             | 1 x 10011
-------------|---------------
('31 BEACH 222 ST', 'QUEENS') | 1 x 11697
                             | 1 x 11691
-------------|---------------
('40 EAST 9 ST', 'MANHATTAN') | 3 x 10016
                             | 1 x 10003
-------------|---------------
('125 EAST 4 ST', 'MANHATTAN') | 1 x 10003
                             | 1 x 10035
-------------|---------------
('49 EAST 20 ST', 'MANHATTAN') | 2 x 10017
                             | 1 x 10003
-------------|---------------
('28 WEST 127 ST', 'MANHATTAN') | 4 x 10001
                             | 1 x 10027
-------------|---------------
('128 EAST 58 ST', 'MANHATTAN') | 2 x 10035
                             | 1 x 10022
-------------|---------------
('10 EAST 85 ST', 'MANHATTAN') | 3 x 10003
                             | 2 x 10028
-------------|---------------
('21 35 37 ST', 'QUEENS') | 3 x 11101
                             | 1 x 11105
-------------|---------------
('35 WEST 11 ST', 'MANHATTAN') | 2 x 10001
                             | 1 x 10011
-------------|---------------
('56 WEST 120 ST', 'MANHATTAN') | 6 x 10019
                             | 2 x 10027
-------------|---------------
('125 EAST 10 ST', 'MANHATTAN') | 1 x 10003
                             | 1 x 10035
-------------|---------------
('125 WEST 144 ST', 'MANHATTAN') | 1 x 10030
                             | 1 x 10027
-------------|---------------
('27 WEST 127 ST', 'MANHATTAN') | 2 x 10001
                             | 1 x 10027
-------------|---------------
('85 EAST 2 ST', 'MANHATTAN') | 1 x 10003
                             | 1 x 10028
-------------|---------------
('58 32 69 ST', 'QUEENS') | 3 x 11377
                             | 2 x 11378
-------------|---------------
('28 EAST 4 ST', 'MANHATTAN') | 9 x 10016
                             | 1 x 10003
-------------|---------------
('125 EAST 63 ST', 'MANHATTAN') | 2 x 10035
                             | 1 x 10065
-------------|---------------
('41 43 24 ST', 'QUEENS') | 1 x 11101
                             | 1 x 11104
-------------|---------------
('37 14 30 ST', 'QUEENS') | 1 x 11101
                             | 1 x 11103
-------------|---------------
('24 WEST 40 ST', 'MANHATTAN') | 1 x 10018
                             | 1 x 10010
-------------|---------------
('34 107 ST', 'QUEENS') | 1 x 11368
                             | 1 x 11417
-------------|---------------
('120 WEST 16 ST', 'MANHATTAN') | 1 x 10011
                             | 1 x 10027
-------------|---------------
('25 37 81 ST', 'QUEENS') | 3 x 11372
                             | 1 x 11370
-------------|---------------
('34 40 CRESCENT ST', 'QUEENS') | 4 x 11101
                             | 1 x 11106
-------------|---------------
('30 89 38 ST', 'QUEENS') | 1 x 11103
                             | 1 x 11369
-------------|---------------
('18 EAST 130 ST', 'MANHATTAN') | 3 x 10003
                             | 1 x 10037
-------------|---------------
('32 30 76 ST', 'QUEENS') | 2 x 11106
                             | 1 x 11370
-------------|---------------

('53 WEST 53 ST', 'MANHATTAN') | 5 x 10019
                             | 1 x 10103
-------------|---------------
('18 WEST 23 ST', 'MANHATTAN') | 3 x 10010
                             | 3 x 10011
-------------|---------------
('30 EAST 44 ST', 'MANHATTAN') | 2 x 10016
                             | 1 x 10017
-------------|---------------
('123 WEST 117 ST', 'MANHATTAN') | 5 x 10027
                             | 1 x 10026
-------------|---------------
('16 EAST 30 ST', 'MANHATTAN') | 2 x 10003
                             | 1 x 10016
-------------|---------------
('31 WEST 19 ST', 'MANHATTAN') | 4 x 10001
                             | 1 x 10011
-------------|---------------
('35 EAST 1 ST', 'MANHATTAN') | 6 x 10016
                             | 2 x 10003
-------------|---------------
('25 37 97 ST', 'QUEENS') | 1 x 11369
                             | 1 x 11368
-------------|---------------
('26 WEST 38 ST', 'MANHATTAN') | 4 x 10010
                             | 1 x 10018
-------------|---------------
('30 WEST 24 ST', 'MANHATTAN') | 1 x 10010
                             | 1 x 10001
-------------|---------------
('35 32 93 ST', 'QUEENS') | 1 x 11372
                             | 1 x 11369
-------------|---------------
('16 EAST 16 ST', 'MANHATTAN') | 2 x 10003
                             | 2 x 10009
-------------|---------------
('54 WEST 33 ST', 'MANHATTAN') | 3 x 10019
                             | 2 x 10001
-------------|---------------
('153 25 88 ST', 'QUEENS') | 4 x 11432
                             | 2 x 11414
-------------|---------------
('125 WEST 24 ST', 'MANHATTAN') | 2 x 10011
                             | 2 x 10027
-------------|---------------
('32 34 85 ST', 'QUEENS') | 1 x 11370
                             | 1 x 11106
-------------|---------------
('22 30 STEINWAY ST', 'QUEENS') | 2 x 11103
                             | 1 x 11105
-------------|---------------
('31 35 88 ST', 'QUEENS') | 1 x 11369
                             | 1 x 11372
-------------|---------------
('28 WEST ST', 'MANHATTAN') | 6 x 10001
                             | 1 x 10006
-------------|---------------
('32 WEST 49 ST', 'MANHATTAN') | 9 x 10001
                             | 2 x 10020
-------------|---------------
('15 WEST 30 ST', 'MANHATTAN') | 2 x 10011
                             | 1 x 10001
-------------|---------------
('27 WEST 115 ST', 'MANHATTAN') | 2 x 10001
                             | 1 x 10026
-------------|---------------
('33 WEST 20 ST', 'MANHATTAN') | 5 x 10001
                             | 1 x 10011
-------------|---------------
('124 WEST 119 ST', 'MANHATTAN') | 3 x 10027
                             | 1 x 10026
-------------|---------------
('37 30 76 ST', 'QUEENS') | 3 x 11103
                             | 2 x 11372
-------------|---------------
('29 WEST 115 ST', 'MANHATTAN') | 4 x 10001
                             | 1 x 10026
-------------|---------------
('34 50 201 ST', 'QUEENS') | 1 x 11361
                             | 1 x 11364
-------------|---------------
('44 WEST 55 ST', 'MANHATTAN') | 4 x 10036
                             | 1 x 10019
-------------|---------------
('45 WEST 25 ST', 'MANHATTAN') | 2 x 10010
                             | 2 x 10036
-------------|---------------
('14 42 COLLEGE POINT BLVD', 'QUEENS') | 3 x 11355
                             | 1 x 11356
-------------|---------------
('21 36 37 ST', 'QUEENS') | 2 x 11106
                             | 1 x 11105
-------------|---------------
('30 93 38 ST', 'QUEENS') | 1 x 11103
                             | 1 x 11369
-------------|---------------
('23 EAST 40 ST', 'MANHATTAN') | 3 x 10010
                             | 1 x 10016
-------------|---------------
('37 11 24 AVE', 'QUEENS') | 1 x 11103
                             | 1 x 11101
-------------|---------------
('25 47 34 ST', 'QUEENS') | 1 x 11103
                             | 1 x 11101
-------------|---------------
('95 13 93 ST', 'QUEENS') | 1 x 11416
                             | 1 x 11421
-------------|---------------
('28 WEST 36 ST', 'MANHATTAN') | 3 x 10018
                             | 3 x 10001
-------------|---------------
('27 WEST 129 ST', 'MANHATTAN') | 4 x 10001
                             | 2 x 10027
-------------|---------------
('118 EAST 18 ST', 'MANHATTAN') | 1 x 10003
                             | 1 x 10035
-------------|---------------
('23 WEST 124 ST', 'MANHATTAN') | 3 x 10011
                             | 1 x 10027
-------------|---------------
('21 38 31 ST', 'QUEENS') | 1 x 11105
                             | 1 x 11101
-------------|---------------
('55 EAST 65 ST', 'MANHATTAN') | 2 x 10022
                             | 1 x 10065
-------------|---------------
('57 EAST 57 ST', 'MANHATTAN') | 24 x 10022
                             | 1 x 10019
-------------|---------------
('37 61 80 ST', 'QUEENS') | 1 x 11372
                             | 1 x 11379
-------------|---------------
('31 25 49 ST', 'QUEENS') | 1 x 11377
                             | 1 x 11102
-------------|---------------
('4 EAST 36 ST', 'MANHATTAN') | 1 x 10016
                             | 1 x 10003
-------------|---------------
('47 WEST 37 ST', 'MANHATTAN') | 1 x 10018
                             | 1 x 10036
-------------|---------------
('9 EAST 32 ST', 'MANHATTAN') | 1 x 10016
                             | 1 x 10003
-------------|---------------
('55 EAST 14 ST', 'MANHATTAN') | 2 x 10022
                             | 1 x 10003
-------------|---------------
('111 WEST 141 ST', 'MANHATTAN') | 2 x 10026
                             | 1 x 10030
-------------|---------------
('32 WEST 38 ST', 'MANHATTAN') | 3 x 10001
                             | 1 x 10018
-------------|---------------
('49 EAST 12 ST', 'MANHATTAN') | 8 x 10017
                             | 1 x 10003
-------------|---------------
('126 EAST 104 ST', 'MANHATTAN') | 3 x 10035
                             | 1 x 10029
-------------|---------------
('31 29 38 ST', 'QUEENS') | 1 x 11103
                             | 1 x 11106
-------------|---------------
('46 WEST 130 ST', 'MANHATTAN') | 2 x 10036
                             | 1 x 10037
-------------|---------------
('28 EAST 130 ST', 'MANHATTAN') | 2 x 10016
                             | 1 x 10037
-------------|---------------
('127 WEST 17 ST', 'MANHATTAN') | 1 x 10011
                             | 1 x 10027
-------------|---------------
('37 30 91 ST', 'QUEENS') | 1 x 11372
                             | 1 x 11103
-------------|---------------
('35 22 93 ST', 'QUEENS') | 1 x 11372
                             | 1 x 11369
-------------|---------------
('40 WEST 111 ST', 'MANHATTAN') | 1 x 10026
                             | 1 x 10018
-------------|---------------
('32 34 83 ST', 'QUEENS') | 1 x 11370
                             | 1 x 11372
-------------|---------------
('139 WEST 116 ST', 'MANHATTAN') | 3 x 10030
                             | 2 x 10026
-------------|---------------
('28 EAST 1 ST', 'MANHATTAN') | 2 x 10003
                             | 2 x 10016
-------------|---------------
('21 09 31 ST', 'QUEENS') | 1 x 11105
                             | 1 x 11106
-------------|---------------
('55 WEST 66 ST', 'MANHATTAN') | 1 x 10023
                             | 1 x 10019
-------------|---------------
('127 WEST 11 ST', 'MANHATTAN') | 1 x 10011
                             | 1 x 10027
-------------|---------------
('21 WEST 45 ST', 'MANHATTAN') | 6 x 10010
                             | 1 x 10036
-------------|---------------
('10 WEST 34 ST', 'MANHATTAN') | 1 x 10118
                             | 1 x 10011
-------------|---------------
('WEST 85 ST', 'MANHATTAN') | 7 x 10006
                             | 3 x 10024
-------------|---------------
('31 21 68 ST', 'QUEENS') | 2 x 11105
                             | 1 x 11377
-------------|---------------
('54 35 71 ST', 'QUEENS') | 1 x 11378
                             | 1 x 11372
-------------|---------------
('52 18 FLUSHING AVE', 'QUEENS') | 1 x 11378
                             | 1 x 11385
-------------|---------------
('109 WEST 144 ST', 'MANHATTAN') | 1 x 10030
                             | 1 x 10025
-------------|---------------
('52 72 79 ST', 'QUEENS') | 1 x 11373
                             | 1 x 11378
-------------|---------------
('88 32 163 ST', 'QUEENS') | 1 x 11432
                             | 1 x 11414
-------------|---------------
('45 WEST 55 ST', 'MANHATTAN') | 2 x 10036
                             | 1 x 10019
-------------|---------------
('108 WEST 73 ST', 'MANHATTAN') | 1 x 10023
                             | 1 x 10025
-------------|---------------

('50 24 98 ST', 'QUEENS') | 1 x 11368
                             | 1 x 11369
-------------|---------------
('39 WEST 31 ST', 'MANHATTAN') | 1 x 10001
                             | 1 x 10018
-------------|---------------
('25 37 100 ST', 'QUEENS') | 1 x 11369
                             | 1 x 11368
-------------|---------------
('60 41 72 ST', 'QUEENS') | 2 x 11377
                             | 1 x 11378
-------------|---------------
('22 94 ST', 'QUEENS') | 2 x 11416
                             | 1 x 11369
-------------|---------------
('21 EAST 47 ST', 'MANHATTAN') | 1 x 10017
                             | 1 x 10010
-------------|---------------
('49 WEST 49 ST', 'MANHATTAN') | 5 x 10019
                             | 2 x 10036
                             | 1 x 10112
-------------|---------------
('59 WEST ST', 'MANHATTAN') | 2 x 10019
                             | 1 x 10006
-------------|---------------
('WEST 139 ST', 'MANHATTAN') | 3 x 10007
                             | 1 x 10030
-------------|---------------
('32 77 33 ST', 'QUEENS') | 1 x 11106
                             | 1 x 11372
-------------|---------------
('20 EAST 30 ST', 'MANHATTAN') | 1 x 10016
                             | 1 x 10003
-------------|---------------
('51 WEST 75 ST', 'MANHATTAN') | 2 x 10019
                             | 1 x 10023
-------------|---------------
('82 WEST 119 ST', 'MANHATTAN') | 2 x 10024
                             | 1 x 10026
-------------|---------------
('35 WEST 71 ST', 'MANHATTAN') | 3 x 10001
                             | 1 x 10023
-------------|---------------
('34 EAST 14 ST', 'MANHATTAN') | 5 x 10016
                             | 1 x 10003
-------------|---------------
('15 WEST 55 ST', 'MANHATTAN') | 2 x 10011
                             | 1 x 10019
-------------|---------------
('124 EAST 55 ST', 'MANHATTAN') | 2 x 10035
                             | 1 x 10022
-------------|---------------
('WEST 36 ST', 'MANHATTAN') | 6 x 10018
                             | 1 x 10001
-------------|---------------
('34 WEST 36 ST', 'MANHATTAN') | 2 x 10001
                             | 1 x 10018
-------------|---------------
('60 EAST 14 ST', 'MANHATTAN') | 1 x 10003
                             | 1 x 10022
-------------|---------------
('30 WEST 30 ST', 'MANHATTAN') | 3 x 10001
                             | 2 x 10004
-------------|---------------
('32 74 32 ST', 'QUEENS') | 1 x 11106
                             | 1 x 11370
-------------|---------------
('40 37 74 ST', 'QUEENS') | 4 x 11372
                             | 1 x 11373
-------------|---------------
('125 WEST 27 ST', 'MANHATTAN') | 1 x 10001
                             | 1 x 10027
-------------|---------------
('42 24 78 ST', 'QUEENS') | 1 x 11373
                             | 1 x 11370
-------------|---------------
('42 WEST 76 ST', 'MANHATTAN') | 1 x 10023
                             | 1 x 10036
-------------|---------------
('21 WEST 52 ST', 'MANHATTAN') | 2 x 10010
                             | 1 x 10019
-------------|---------------
('52 WEST ST', 'MANHATTAN') | 9 x 10019
                             | 1 x 10006
-------------|---------------
('23 EAST 28 ST', 'MANHATTAN') | 1 x 10016
                             | 1 x 10010
-------------|---------------
('85 EAST 3 ST', 'MANHATTAN') | 1 x 10003
                             | 1 x 10028
-------------|---------------
('116 WEST 23 ST', 'MANHATTAN') | 2 x 10011
                             | 2 x 10026
-------------|---------------
('44 WEST 32 ST', 'MANHATTAN') | 1 x 10001
                             | 1 x 10036
-------------|---------------
('122 EAST 116 ST', 'MANHATTAN') | 1 x 10029
                             | 1 x 10035
-------------|---------------
('21 40 47 ST', 'QUEENS') | 4 x 11101
                             | 1 x 11105
-------------|---------------
('39 WEST 68 ST', 'MANHATTAN') | 2 x 10023
                             | 2 x 10018
-------------|---------------
('40 35 82 ST', 'QUEENS') | 4 x 11372
                             | 1 x 11373
-------------|---------------
('59 EAST 125 ST', 'MANHATTAN') | 1 x 10035
                             | 1 x 10022
-------------|---------------
('121 WEST 17 ST', 'MANHATTAN') | 1 x 10011
                             | 1 x 10027
-------------|---------------
('35 30 ST', 'QUEENS') | 1 x 11106
                             | 1 x 11102
-------------|---------------
('37 31 76 ST', 'QUEENS') | 1 x 11372
                             | 1 x 11103
-------------|---------------
('60 WEST 124 ST', 'MANHATTAN') | 2 x 10023
                             | 1 x 10027
-------------|---------------
('58 WEST 135 ST', 'MANHATTAN') | 2 x 10019
                             | 1 x 10037
-------------|---------------
('37 26 30 ST', 'QUEENS') | 1 x 11101
                             | 1 x 11102
-------------|---------------
('130 EAST 25 ST', 'MANHATTAN') | 1 x 10010
                             | 1 x 10037
-------------|---------------
('18 42 COLLEGE POINT BLVD', 'QUEENS') | 2 x 11355
                             | 1 x 11356
-------------|---------------
('207 WEST ST', 'MANHATTAN') | 5 x 10034
                             | 1 x 10013
-------------|---------------
('50 32 102 ST', 'QUEENS') | 1 x 11368
                             | 1 x 11369
-------------|---------------
('40 WEST 54 ST', 'MANHATTAN') | 2 x 10018
                             | 1 x 10019
-------------|---------------
('37 31 103 ST', 'QUEENS') | 1 x 11368
                             | 1 x 11369
-------------|---------------
('55 EAST 118 ST', 'MANHATTAN') | 1 x 10035
                             | 1 x 10022
-------------|---------------
('44 WEST 59 ST', 'MANHATTAN') | 4 x 10036
                             | 1 x 10019
-------------|---------------
('WEST 99 ST', 'MANHATTAN') | 2 x 10006
                             | 1 x 10025
-------------|---------------
('108 EAST 23 ST', 'MANHATTAN') | 1 x 10010
                             | 1 x 10029
-------------|---------------
('24 EAST 129 ST', 'MANHATTAN') | 1 x 10035
                             | 1 x 10010
-------------|---------------
('37 WEST 32 ST', 'MANHATTAN') | 2 x 10018
                             | 1 x 10001
-------------|---------------
('145 WEST 141 ST', 'MANHATTAN') | 2 x 10039
                             | 1 x 10030
-------------|---------------
('144 WEST ST', 'MANHATTAN') | 3 x 10030
                             | 1 x 10031
-------------|---------------
('41 22 68 ST', 'QUEENS') | 1 x 11377
                             | 1 x 11105
-------------|---------------
('33 WEST 60 ST', 'MANHATTAN') | 1 x 10023
                             | 1 x 10001
-------------|---------------
('19 EAST 19 ST', 'BROOKLYN') | 1 x 11226
                             | 1 x 11235
-------------|---------------
('132 WEST 28 ST', 'MANHATTAN') | 1 x 10001
                             | 1 x 10037
-------------|---------------
('36 WEST 31 ST', 'MANHATTAN') | 1 x 10001
                             | 1 x 10018
-------------|---------------
('23 WEST 31 ST', 'MANHATTAN') | 1 x 10001
                             | 1 x 10010
-------------|---------------
('134 WEST 34 ST', 'MANHATTAN') | 2 x 10037
                             | 1 x 10001
-------------|---------------
('10 WEST 10 ST', 'MANHATTAN') | 1 x 10011
                             | 1 x 10014
                             | 1 x 10004
-------------|---------------
('990 PELHAM PARKWAY SOUTH', 'BRONX') | 3 x 10461
                             | 1 x 10462
-------------|---------------
('23 28 STEINWAY ST', 'QUEENS') | 1 x 11105
                             | 1 x 11103
-------------|---------------
('56 EAST 56 ST', 'MANHATTAN') | 8 x 10022
                             | 2 x 10019
-------------|---------------
('18 44 COLLEGE POINT BLVD', 'QUEENS') | 1 x 11356
                             | 1 x 11355
-------------|---------------
('116 WEST 31 ST', 'MANHATTAN') | 2 x 10026
                             | 1 x 10001
-------------|---------------
('135 WEST 135 ST', 'MANHATTAN') | 4 x 10030
                             | 4 x 10037
                             | 1 x 10031
-------------|---------------
('40 WEST 20 ST', 'MANHATTAN') | 1 x 10011
                             | 1 x 10018
-------------|---------------

('125 EAST 51 ST', 'MANHATTAN') | 1 x 10022
                             | 1 x 10035
-------------|---------------
('115 WEST 141 ST', 'MANHATTAN') | 2 x 10026
                             | 1 x 10030
-------------|---------------
('128 WEST 10 ST', 'MANHATTAN') | 1 x 10014
                             | 1 x 10027
-------------|---------------
('2 EAST 24 ST', 'MANHATTAN') | 1 x 10010
                             | 1 x 10003
-------------|---------------
('30 EAST 127 ST', 'MANHATTAN') | 1 x 10035
                             | 1 x 10016
-------------|---------------
('12 WEST 40 ST', 'MANHATTAN') | 1 x 10018
                             | 1 x 10011
-------------|---------------
('19 WEST 110 ST', 'MANHATTAN') | 1 x 10026
                             | 1 x 10011
-------------|---------------
('16 WEST 46 ST', 'MANHATTAN') | 1 x 10036
                             | 1 x 10011
-------------|---------------
('41 EAST 41 ST', 'MANHATTAN') | 5 x 10017
                             | 1 x 10016
-------------|---------------
('25 38 79 ST', 'QUEENS') | 1 x 11370
                             | 1 x 11103
-------------|---------------
('22 WEST 22 ST', 'MANHATTAN') | 2 x 10011
                             | 1 x 10010
-------------|---------------
('47 WEST 30 ST', 'MANHATTAN') | 1 x 10001
                             | 1 x 10036
-------------|---------------
('7 EAST 40 ST', 'MANHATTAN') | 1 x 10016
                             | 1 x 10003
-------------|---------------
('35 17 149 ST', 'QUEENS') | 1 x 11354
                             | 1 x 11357
-------------|---------------
('34 WEST 132 ST', 'MANHATTAN') | 1 x 10037
                             | 1 x 10001
-------------|---------------
('33 WEST 131 ST', 'MANHATTAN') | 2 x 10001
                             | 1 x 10037
-------------|---------------
('30 48 70 ST', 'QUEENS') | 1 x 11370
                             | 1 x 11103
-------------|---------------
('41 ST', 'QUEENS') | 1 x 11104
                             | 1 x 11101
                             | 1 x 11103
-------------|---------------
('14 WEST 116 ST', 'MANHATTAN') | 3 x 10011
                             | 1 x 10026
-------------|---------------
('3 EAST 32 ST', 'MANHATTAN') | 1 x 10016
                             | 1 x 10003
-------------|---------------
('47 WEST 47 ST', 'MANHATTAN') | 17 x 10036
                             | 2 x 10006
-------------|---------------
('25 WEST 25 ST', 'MANHATTAN') | 5 x 10001
                             | 1 x 10010
-------------|---------------
('11 WEST 131 ST', 'MANHATTAN') | 1 x 10037
                             | 1 x 10011
-------------|---------------
('19 WEST 22 ST', 'MANHATTAN') | 1 x 10010
                             | 1 x 10011
-------------|---------------
('103 03 97 AVE', 'QUEENS') | 1 x 11416
                             | 1 x 11417
-------------|---------------
('11 EAST 61 ST', 'MANHATTAN') | 1 x 10065
                             | 1 x 10003
-------------|---------------
('11 EAST 27 ST', 'MANHATTAN') | 1 x 10016
                             | 1 x 10003
-------------|---------------
('31 67 41 ST', 'QUEENS') | 1 x 11103
                             | 1 x 11377
-------------|---------------
('129 WEST 11 ST', 'MANHATTAN') | 1 x 10011
                             | 1 x 10027
-------------|---------------
('14 WEST 14 ST', 'MANHATTAN') | 7 x 10014
                             | 6 x 10011
-------------|---------------
('103 WEST ST', 'MANHATTAN') | 2 x 10025
                             | 1 x 10007
-------------|---------------
('132 WEST 145 ST', 'MANHATTAN') | 1 x 10039
                             | 1 x 10027
-------------|---------------
('1 EAST 46 ST', 'MANHATTAN') | 1 x 10017
                             | 1 x 10003
-------------|---------------
('20 WEST 20 ST', 'MANHATTAN') | 6 x 10004
                             | 2 x 10011
-------------|---------------
('3 EAST 3 ST', 'MANHATTAN') | 2 x 10003
                             | 2 x 10009
-------------|---------------
('PARKING LOT 110 00 ROCKAWAY BLVD', 'QUEENS') | 37 x 11420
                             | 1 x 11417
-------------|---------------
('140 WEST 140 ST', 'MANHATTAN') | 3 x 10007
                             | 1 x 10030
-------------|---------------
('P L 270 11 UNION TPKE', 'QUEENS') | 1 x 11040
                             | 1 x 11004
-------------|---------------
('8 AVE', 'MANHATTAN') | 6 x 10019
                             | 5 x 10001
                             | 3 x 10039
                             | 3 x 10011
                             | 3 x 10036
                             | 3 x 10018
                             | 2 x 10027
                             | 2 x 10030
                             | 1 x 10026
-------------|---------------
('67 ST', 'BROOKLYN') | 1 x 11220
                             | 1 x 11204
                             | 1 x 11219
-------------|---------------
('FULTON ST', 'BROOKLYN') | 5 x 11216
                             | 4 x 11233
                             | 2 x 11238
                             | 1 x 11201
                             | 1 x 11213
                             | 1 x 11207
                             | 1 x 11217
-------------|---------------
('ATLANTIC AVE', 'BROOKLYN') | 13 x 11233
                             | 7 x 11201
                             | 6 x 11217
                             | 6 x 11213
                             | 5 x 11216
                             | 5 x 11238
                             | 3 x 11208
                             | 2 x 11207
-------------|---------------
('37 ST', 'QUEENS') | 3 x 11103
                             | 2 x 11101
-------------|---------------
('LIBERTY AVE', 'QUEENS') | 6 x 11419
                             | 3 x 11417
                             | 2 x 11433
                             | 1 x 11451
-------------|---------------
('STERLING PLACE', 'BROOKLYN') | 1 x 11216
                             | 1 x 11213
-------------|---------------
('FLATLANDS AVE', 'BROOKLYN') | 5 x 11236
                             | 1 x 11234
                             | 1 x 11207
-------------|---------------
('DAHILL RD', 'BROOKLYN') | 7 x 11218
                             | 4 x 11204
-------------|---------------
('1120 SOUTH AVE', 'STATEN ISLAND') | 3 x 10314
                             | 1 x 10311
-------------|---------------
('MERRICK BLVD', 'QUEENS') | 5 x 11434
                             | 5 x 11413
                             | 2 x 11433
                             | 2 x 11422
-------------|---------------
('PENNSYLVANIA AVE', 'BROOKLYN') | 11 x 11207
                             | 2 x 11239
-------------|---------------
('LINDEN BLVD', 'BROOKLYN') | 12 x 11207
                             | 7 x 11208
                             | 3 x 11212
                             | 2 x 11236
                             | 1 x 11203
-------------|---------------
('FRANCIS LEWIS BLVD', 'QUEENS') | 10 x 11358
                             | 3 x 11423
                             | 2 x 11427
                             | 2 x 11411
                             | 1 x 11428
                             | 1 x 11429
                             | 1 x 11365
                             | 1 x 11366
                             | 1 x 11422
-------------|---------------
('EAST 169 ST', 'BRONX') | 2 x 10456
                             | 1 x 10452
-------------|---------------
('EAST 20 ST', 'MANHATTAN') | 3 x 10003
                             | 2 x 10009
                             | 1 x 10010
-------------|---------------
('EAST TREMONT AVE', 'BRONX') | 7 x 10457
                             | 6 x 10460
                             | 1 x 10453
                             | 1 x 10461
                             | 1 x 10462
                             | 1 x 10465
-------------|---------------
('EAST 233 ST', 'BRONX') | 3 x 10470
                             | 3 x 10466
                             | 2 x 10467
-------------|---------------
('6 AVE', 'BROOKLYN') | 1 x 11215
                             | 1 x 11209
                             | 1 x 11217
                             | 1 x 11220
-------------|---------------
('CLASSON AVE', 'BROOKLYN') | 2 x 11211
                             | 1 x 11205
                             | 1 x 11238
-------------|---------------

('2 AVE', 'MANHATTAN') | 25 x 10016
                             | 18 x 10022
                             | 17 x 10029
                             | 13 x 10017
                             | 9 x 10003
                             | 5 x 10065
                             | 3 x 10021
                             | 3 x 10075
                             | 3 x 10010
                             | 2 x 10128
                             | 2 x 10028
-------------|---------------
('PARK PLACE', 'BROOKLYN') | 1 x 11238
                             | 1 x 11216
-------------|---------------
('PACIFIC ST', 'BROOKLYN') | 2 x 11216
                             | 2 x 11238
                             | 2 x 11233
-------------|---------------
('AVENUE P', 'BROOKLYN') | 5 x 11230
                             | 5 x 11223
                             | 2 x 11229
                             | 1 x 11214
-------------|---------------
('WOODHAVEN BLVD', 'QUEENS') | 5 x 11416
                             | 4 x 11421
                             | 1 x 11385
                             | 1 x 11373
-------------|---------------
('21 ST', 'QUEENS') | 4 x 11102
                             | 4 x 11101
                             | 3 x 11106
-------------|---------------
('GRAND CENTRAL PKWY', 'QUEENS') | 5 x 11432
                             | 1 x 11368
                             | 1 x 11435
-------------|---------------
('FRANKFORT ST', 'MANHATTAN') | 2 x 10007
                             | 1 x 10038
-------------|---------------
('79 ST', 'QUEENS') | 1 x 11414
                             | 1 x 11370
                             | 1 x 11372
-------------|---------------
('BRONX RIVER PKWY', 'BRONX') | 1 x 10472
                             | 1 x 10461
-------------|---------------
('LINDEN BLVD', 'QUEENS') | 6 x 11411
                             | 3 x 11420
                             | 2 x 11434
-------------|---------------
('SOUTH CONDUIT AVE', 'QUEENS') | 2 x 11420
                             | 2 x 11413
                             | 2 x 11414
-------------|---------------
('BAYCHESTER AVE', 'BRONX') | 2 x 10475
                             | 1 x 10466
-------------|---------------
('EAST FORDHAM RD', 'BRONX') | 3 x 10458
                             | 1 x 10468
-------------|---------------
('NOSTRAND AVE', 'BROOKLYN') | 6 x 11225
                             | 4 x 11226
                             | 4 x 11216
                             | 3 x 11205
                             | 2 x 11206
                             | 1 x 11210
                             | 1 x 11229
-------------|---------------
('ROCKAWAY AVE', 'BROOKLYN') | 7 x 11212
                             | 4 x 11233
-------------|---------------
('LEFFERTS BLVD', 'QUEENS') | 3 x 11419
                             | 2 x 11420
-------------|---------------
('173 ST', 'QUEENS') | 1 x 11434
                             | 1 x 11433
-------------|---------------
('PUTNAM AVE', 'BROOKLYN') | 5 x 11221
                             | 2 x 11238
-------------|---------------
('SARATOGA AVE', 'BROOKLYN') | 3 x 11233
                             | 1 x 11212
-------------|---------------
('75 AVE', 'QUEENS') | 2 x 11366
                             | 1 x 11364
-------------|---------------
('BEVERLEY RD', 'BROOKLYN') | 4 x 11218
                             | 1 x 11226
                             | 1 x 11203
-------------|---------------
('84 ST', 'BROOKLYN') | 1 x 11214
                             | 1 x 11209
                             | 1 x 11228
-------------|---------------
('FRANKLIN AVE', 'BROOKLYN') | 3 x 11238
                             | 1 x 11225
                             | 1 x 11205
-------------|---------------
('WEST ST', 'MANHATTAN') | 6 x 10280
                             | 2 x 10014
                             | 1 x 10013
                             | 1 x 10282
-------------|---------------
('UTICA AVE', 'BROOKLYN') | 9 x 11213
                             | 6 x 11203
-------------|---------------
('MYRTLE AVE', 'BROOKLYN') | 4 x 11206
                             | 3 x 11205
                             | 3 x 11237
                             | 1 x 11201
                             | 1 x 11221
-------------|---------------
('EASTERN PKWY', 'BROOKLYN') | 16 x 11233
                             | 12 x 11213
                             | 1 x 11216
                             | 1 x 11238
                             | 1 x 11212
-------------|---------------
('BEACH CHANNEL DR', 'QUEENS') | 3 x 11694
                             | 3 x 11691
                             | 1 x 11692
-------------|---------------
('ROCKAWAY PKWY', 'BROOKLYN') | 4 x 11236
                             | 3 x 11212
-------------|---------------
('1 AVE', 'MANHATTAN') | 12 x 10022
                             | 11 x 10029
                             | 11 x 10016
                             | 7 x 10010
                             | 5 x 10021
                             | 5 x 10003
                             | 4 x 10017
                             | 4 x 10028
                             | 3 x 10128
                             | 3 x 10065
                             | 1 x 10075
                             | 1 x 10009
-------------|---------------
('AMSTERDAM AVE', 'MANHATTAN') | 7 x 10027
                             | 6 x 10033
                             | 5 x 10024
                             | 3 x 10025
                             | 3 x 10023
                             | 2 x 10031
                             | 1 x 10040
                             | 1 x 10032
-------------|---------------
('ROCKAWAY BLVD', 'QUEENS') | 6 x 11420
                             | 5 x 11417
                             | 1 x 11422
                             | 1 x 11436
                             | 1 x 11421
                             | 1 x 11434
                             | 1 x 11430
-------------|---------------
('EAST 174 ST', 'BRONX') | 3 x 10457
                             | 1 x 10472
                             | 1 x 10460
-------------|---------------
('LENOX RD', 'BROOKLYN') | 2 x 11203
                             | 1 x 11226
-------------|---------------
('GRAND CONCOURSE', 'BRONX') | 7 x 10453
                             | 6 x 10468
                             | 2 x 10451
                             | 2 x 10452
                             | 1 x 10456
-------------|---------------
('MURRAY ST', 'MANHATTAN') | 1 x 10282
                             | 1 x 10007
-------------|---------------
('MARCY AVE', 'BROOKLYN') | 3 x 11216
                             | 1 x 11206
                             | 1 x 11211
-------------|---------------
('AMBOY RD', 'STATEN ISLAND') | 2 x 10306
                             | 1 x 10309
-------------|---------------
('99 ST', 'QUEENS') | 2 x 11368
                             | 1 x 11374
-------------|---------------
('SPRINGFIELD BLVD', 'QUEENS') | 4 x 11413
                             | 3 x 11364
                             | 1 x 11427
                             | 1 x 11411
-------------|---------------
('FLATBUSH AVE', 'BROOKLYN') | 8 x 11217
                             | 4 x 11226
                             | 4 x 11234
                             | 4 x 11225
                             | 2 x 11210
-------------|---------------
('EAST NEW YORK AVE', 'BROOKLYN') | 3 x 11233
                             | 2 x 11212
                             | 1 x 11213
-------------|---------------
('THROOP AVE', 'BROOKLYN') | 2 x 11206
                             | 1 x 11216
-------------|---------------
('KOSCIUSZKO ST', 'BROOKLYN') | 1 x 11205
                             | 1 x 11221
                             | 1 x 11216
-------------|---------------
('MARCUS GARVEY BLVD', 'BROOKLYN') | 1 x 11213
                             | 1 x 11216
                             | 1 x 11206
-------------|---------------
('PARK AVE', 'BROOKLYN') | 3 x 11205
                             | 1 x 11206
-------------|---------------
('BROADWAY', 'MANHATTAN') | 6 x 10025
                             | 5 x 10032
                             | 5 x 10023
                             | 5 x 10034
                             | 4 x 10031
                             | 4 x 10007
                             | 3 x 10012
                             | 3 x 10010
                             | 3 x 10040
                             | 3 x 10033
                             | 2 x 10019
                             | 2 x 10027
                             | 1 x 10006
                             | 1 x 10013
                             | 1 x 10024
                             | 1 x 10003
-------------|---------------
('3 AVE', 'MANHATTAN') | 25 x 10022
                             | 24 x 10016
                             | 14 x 10017
                             | 9 x 10003
                             | 7 x 10065
                             | 6 x 10029
                             | 6 x 10128
                             | 4 x 10010
                             | 3 x 10021
                             | 2 x 10028
-------------|---------------

('10 AVE', 'MANHATTAN') | 9 x 10036
                             | 7 x 10019
                             | 5 x 10001
                             | 1 x 10018
                             | 1 x 10011
-------------|---------------
('NORTHERN BLVD', 'QUEENS') | 23 x 11361
                             | 15 x 11358
                             | 12 x 11363
                             | 11 x 11101
                             | 10 x 11362
                             | 5 x 11354
                             | 3 x 11377
                             | 2 x 11103
                             | 2 x 11369
                             | 2 x 11372
-------------|---------------
('190 ST', 'QUEENS') | 2 x 11412
                             | 1 x 11358
-------------|---------------
('AVENUE L', 'BROOKLYN') | 7 x 11230
                             | 2 x 11236
-------------|---------------
('BEDFORD AVE', 'BROOKLYN') | 4 x 11216
                             | 3 x 11211
                             | 3 x 11205
                             | 3 x 11225
                             | 1 x 11238
                             | 1 x 11210
                             | 1 x 11226
                             | 1 x 11229
-------------|---------------
('ELIZABETH ST', 'MANHATTAN') | 2 x 10013
                             | 1 x 10012
-------------|---------------
('KNICKERBOCKER AVE', 'BROOKLYN') | 3 x 11221
                             | 3 x 11237
                             | 2 x 11207
-------------|---------------
('SUTTER AVE', 'BROOKLYN') | 4 x 11208
                             | 1 x 11212
-------------|---------------
('CENTRE ST', 'MANHATTAN') | 2 x 10007
                             | 2 x 10013
                             | 1 x 10278
-------------|---------------
('AQUEDUCT AVE', 'BRONX') | 3 x 10468
                             | 1 x 10453
-------------|---------------
('34 AVE', 'QUEENS') | 5 x 11106
                             | 3 x 11372
                             | 1 x 11361
-------------|---------------
('SAINT ANNS AVE', 'BRONX') | 1 x 10454
                             | 1 x 10455
-------------|---------------
('100 WEST ST', 'MANHATTAN') | 3 x 10025
                             | 1 x 10280
-------------|---------------
('99 AVE', 'QUEENS') | 2 x 11423
                             | 1 x 11429
-------------|---------------
('82 ST', 'BROOKLYN') | 2 x 11214
                             | 1 x 11228
-------------|---------------
('ROGERS AVE', 'BROOKLYN') | 5 x 11225
                             | 3 x 11216
                             | 1 x 11226
-------------|---------------
('37 ST', 'BROOKLYN') | 3 x 11218
                             | 2 x 11232
                             | 2 x 11219
-------------|---------------
('108 ST', 'QUEENS') | 1 x 11369
                             | 1 x 11368
-------------|---------------
('BUSHWICK AVE', 'BROOKLYN') | 8 x 11207
                             | 2 x 11206
                             | 1 x 11221
-------------|---------------
('217 ST', 'QUEENS') | 1 x 11427
                             | 1 x 11361
-------------|---------------
('POST AVE', 'STATEN ISLAND') | 3 x 10310
                             | 1 x 10302
-------------|---------------
('WEST 155 ST', 'MANHATTAN') | 5 x 10039
                             | 2 x 10032
                             | 1 x 10031
-------------|---------------
('ASTORIA BLVD', 'QUEENS') | 10 x 11102
                             | 5 x 11370
                             | 2 x 11369
                             | 2 x 11103
-------------|---------------
('43 ST', 'BROOKLYN') | 4 x 11219
                             | 2 x 11232
-------------|---------------
('JEROME AVE', 'BRONX') | 9 x 10467
                             | 5 x 10468
                             | 5 x 10452
                             | 3 x 10453
-------------|---------------
('179 ST', 'QUEENS') | 1 x 11434
                             | 1 x 11432
-------------|---------------
('BAY ST', 'STATEN ISLAND') | 5 x 10304
                             | 4 x 10301
                             | 1 x 10305
-------------|---------------
('CLOVE RD', 'STATEN ISLAND') | 2 x 10310
                             | 1 x 10301
-------------|---------------
('COLUMBUS AVE', 'MANHATTAN') | 6 x 10024
                             | 5 x 10023
                             | 1 x 10019
                             | 1 x 10025
-------------|---------------
('8 AVE', 'BROOKLYN') | 6 x 11220
                             | 3 x 11232
                             | 1 x 11215
-------------|---------------
('NARROWS ROAD NORTH', 'STATEN ISLAND') | 1 x 10305
                             | 1 x 10304
-------------|---------------
('HENDERSON AVE', 'STATEN ISLAND') | 3 x 10310
                             | 1 x 10301
-------------|---------------
('WEST 131 ST', 'MANHATTAN') | 1 x 10027
                             | 1 x 10037
-------------|---------------
('FOREST AVE', 'STATEN ISLAND') | 3 x 10310
                             | 2 x 10303
                             | 2 x 10314
                             | 2 x 10302
                             | 1 x 10301
-------------|---------------
('MANOR RD', 'STATEN ISLAND') | 1 x 10310
                             | 1 x 10306
                             | 1 x 10314
-------------|---------------
('MORRIS AVE', 'BRONX') | 3 x 10456
                             | 2 x 10451
                             | 1 x 10453
                             | 1 x 10468
-------------|---------------
('BROOKLYN AVE', 'BROOKLYN') | 2 x 11213
                             | 2 x 11216
                             | 2 x 11225
                             | 1 x 11210
-------------|---------------
('STEINWAY ST', 'QUEENS') | 7 x 11103
                             | 2 x 11105
-------------|---------------
('86 ST', 'BROOKLYN') | 5 x 11214
                             | 3 x 11228
                             | 1 x 11223
-------------|---------------
('21 WEST ST', 'MANHATTAN') | 7 x 10011
                             | 7 x 10006
                             | 1 x 10010
-------------|---------------
('SAINT JOHNS PLACE', 'BROOKLYN') | 3 x 11213
                             | 1 x 11216
                             | 1 x 11217
-------------|---------------
('115 AVE', 'QUEENS') | 2 x 11411
                             | 1 x 11436
-------------|---------------
('ALBANY AVE', 'BROOKLYN') | 4 x 11213
                             | 1 x 11216
-------------|---------------
('EAST 81 ST', 'MANHATTAN') | 2 x 10028
                             | 1 x 10075
-------------|---------------
('AVENUE OF THE AMERICAS', 'MANHATTAN') | 10 x 10011
                             | 9 x 10019
                             | 6 x 10036
                             | 5 x 10001
                             | 1 x 10010
-------------|---------------
('LAFAYETTE AVE', 'BRONX') | 1 x 10474
                             | 1 x 10473
-------------|---------------
('WESTCHESTER AVE', 'BRONX') | 4 x 10462
                             | 2 x 10459
                             | 2 x 10472
                             | 2 x 10461
-------------|---------------
('BRUCKNER BLVD', 'BRONX') | 5 x 10472
                             | 3 x 10473
                             | 2 x 10474
                             | 1 x 10454
                             | 1 x 10461
                             | 1 x 10462
                             | 1 x 10459
-------------|---------------
('78 ST', 'BROOKLYN') | 2 x 11209
                             | 1 x 11214
-------------|---------------
('MC DONALD AVE', 'BROOKLYN') | 12 x 11204
                             | 9 x 11218
                             | 4 x 11230
                             | 2 x 11223
-------------|---------------
('CORTELYOU RD', 'BROOKLYN') | 6 x 11218
                             | 1 x 11226
-------------|---------------
('CONEY ISLAND AVE', 'BROOKLYN') | 8 x 11230
                             | 6 x 11218
                             | 2 x 11235
                             | 1 x 11223
-------------|---------------
('HOLLIS COURT BLVD', 'QUEENS') | 1 x 11358
                             | 1 x 11365
-------------|---------------
('82 ST', 'QUEENS') | 3 x 11372
                             | 2 x 11414
                             | 1 x 11416
-------------|---------------
('20 AVE', 'BROOKLYN') | 6 x 11204
                             | 2 x 11214
-------------|---------------
('46 ST', 'BROOKLYN') | 4 x 11219
                             | 3 x 11220
-------------|---------------
('OCEAN PKWY', 'BROOKLYN') | 30 x 11230
                             | 4 x 11218
                             | 1 x 11223
                             | 1 x 11219
-------------|---------------
('CHURCH AVE', 'BROOKLYN') | 7 x 11218
                             | 1 x 11203
                             | 1 x 11226
-------------|---------------

('WEST 141 ST', 'MANHATTAN') | 2 x 10030
                             | 1 x 10031
                             | 1 x 10027
-------------|---------------
('48 ST', 'BROOKLYN') | 6 x 11220
                             | 5 x 11219
                             | 1 x 11232
-------------|---------------
('58 ST', 'BROOKLYN') | 6 x 11219
                             | 5 x 11220
                             | 2 x 11204
-------------|---------------
('AVENUE O', 'BROOKLYN') | 10 x 11230
                             | 1 x 11204
-------------|---------------
('92 ST', 'QUEENS') | 2 x 11373
                             | 1 x 11372
-------------|---------------
('EAST 2 ST', 'BROOKLYN') | 4 x 11230
                             | 4 x 11218
-------------|---------------
('60 ST', 'BROOKLYN') | 13 x 11204
                             | 8 x 11220
                             | 8 x 11219
-------------|---------------
('42 ST', 'BROOKLYN') | 7 x 11219
                             | 1 x 11204
-------------|---------------
('16 AVE', 'BROOKLYN') | 14 x 11219
                             | 3 x 11218
                             | 1 x 11228
                             | 1 x 11204
-------------|---------------
('13 AVE', 'BROOKLYN') | 20 x 11219
                             | 1 x 11228
-------------|---------------
('155 ST', 'QUEENS') | 3 x 11434
                             | 1 x 11367
                             | 1 x 11433
-------------|---------------
('5 AVE', 'MANHATTAN') | 4 x 10010
                             | 4 x 10011
                             | 3 x 10103
                             | 2 x 10001
                             | 2 x 10036
                             | 2 x 10037
                             | 1 x 10020
                             | 1 x 10019
                             | 1 x 10027
                             | 1 x 10065
                             | 1 x 10111
-------------|---------------
('53 ST', 'BROOKLYN') | 5 x 11219
                             | 4 x 11220
                             | 1 x 11204
-------------|---------------
('EAST 4 ST', 'BROOKLYN') | 2 x 11230
                             | 1 x 11218
-------------|---------------
('39 ST', 'BROOKLYN') | 5 x 11219
                             | 3 x 11218
                             | 1 x 11232
-------------|---------------
('BAY PKWY', 'BROOKLYN') | 5 x 11204
                             | 5 x 11214
                             | 4 x 11230
-------------|---------------
('50 ST', 'BROOKLYN') | 7 x 11219
                             | 5 x 11220
                             | 2 x 11204
                             | 1 x 11232
-------------|---------------
('AVENUE I', 'BROOKLYN') | 12 x 11230
                             | 2 x 11204
                             | 2 x 11234
                             | 1 x 11210
-------------|---------------
('MURDOCK AVE', 'QUEENS') | 3 x 11412
                             | 1 x 11429
-------------|---------------
('12 AVE', 'BROOKLYN') | 9 x 11219
                             | 3 x 11218
-------------|---------------
('EAST 48 ST', 'MANHATTAN') | 9 x 10017
                             | 2 x 10172
-------------|---------------
('KINGSTON AVE', 'BROOKLYN') | 3 x 11213
                             | 1 x 11225
                             | 1 x 11203
-------------|---------------
('9 EAST 9 ST', 'BROOKLYN') | 4 x 11230
                             | 3 x 11218
-------------|---------------
('52 ST', 'BROOKLYN') | 5 x 11204
                             | 4 x 11220
                             | 3 x 11219
-------------|---------------
('61 ST', 'BROOKLYN') | 5 x 11220
                             | 4 x 11219
                             | 1 x 11204
-------------|---------------
('LITTLE NECK PKWY', 'QUEENS') | 5 x 11363
                             | 1 x 11362
                             | 1 x 11361
                             | 1 x 11426
-------------|---------------
('102 ST', 'QUEENS') | 1 x 11417
                             | 1 x 11416
                             | 1 x 11418
                             | 1 x 11368
-------------|---------------
('41 ST', 'BROOKLYN') | 2 x 11218
                             | 2 x 11219
                             | 2 x 11220
-------------|---------------
('LIBERTY AVE', 'BROOKLYN') | 3 x 11208
                             | 2 x 11212
                             | 2 x 11207
-------------|---------------
('GRAND AVE', 'QUEENS') | 3 x 11378
                             | 1 x 11373
-------------|---------------
('EAST 138 ST', 'BRONX') | 3 x 10454
                             | 2 x 10451
-------------|---------------
('3 EAST 3 ST', 'BROOKLYN') | 3 x 11218
                             | 1 x 11230
-------------|---------------
('15 AVE', 'BROOKLYN') | 6 x 11219
                             | 2 x 11218
-------------|---------------
('FORT HAMILTON PKWY', 'BROOKLYN') | 17 x 11219
                             | 5 x 11215
                             | 2 x 11220
                             | 1 x 11209
-------------|---------------
('39 AVE', 'QUEENS') | 5 x 11361
                             | 2 x 11101
                             | 1 x 11363
                             | 1 x 11354
-------------|---------------
('63 ST', 'BROOKLYN') | 1 x 11220
                             | 1 x 11219
-------------|---------------
('FLUSHING AVE', 'BROOKLYN') | 3 x 11205
                             | 2 x 11206
                             | 1 x 11211
-------------|---------------
('11 AVE', 'MANHATTAN') | 11 x 10036
                             | 2 x 10001
                             | 1 x 10018
                             | 1 x 10019
-------------|---------------
('EAST 161 ST', 'BRONX') | 5 x 10451
                             | 1 x 10452
-------------|---------------
('JOHNSON AVE', 'BROOKLYN') | 1 x 11206
                             | 1 x 11237
-------------|---------------
('AVENUE M', 'BROOKLYN') | 7 x 11230
                             | 1 x 11234
                             | 1 x 11204
                             | 1 x 11236
-------------|---------------
('10 AVE', 'BROOKLYN') | 11 x 11219
                             | 1 x 11215
-------------|---------------
('AVENUE N', 'BROOKLYN') | 9 x 11230
                             | 1 x 11234
-------------|---------------
('14 AVE', 'BROOKLYN') | 8 x 11219
                             | 3 x 11218
-------------|---------------
('9 AVE', 'BROOKLYN') | 7 x 11220
                             | 4 x 11219
                             | 3 x 11232
-------------|---------------
('LAFAYETTE AVE', 'BROOKLYN') | 2 x 11221
                             | 1 x 11216
-------------|---------------
('JAMAICA AVE', 'QUEENS') | 4 x 11421
                             | 3 x 11418
                             | 3 x 11432
                             | 1 x 11423
                             | 1 x 11426
                             | 1 x 11428
-------------|---------------
('HENRY ST', 'BROOKLYN') | 1 x 11231
                             | 1 x 11201
-------------|---------------
('CATON AVE', 'BROOKLYN') | 4 x 11218
                             | 2 x 11215
-------------|---------------
('TROY AVE', 'BROOKLYN') | 2 x 11213
                             | 2 x 11203
-------------|---------------
('LEXINGTON AVE', 'MANHATTAN') | 15 x 10029
                             | 8 x 10022
                             | 6 x 10017
                             | 4 x 10016
                             | 4 x 10128
                             | 3 x 10172
                             | 2 x 10065
                             | 2 x 10028
                             | 1 x 10021
                             | 1 x 10075
                             | 1 x 10010
                             | 1 x 10167
-------------|---------------
('51 ST', 'BROOKLYN') | 6 x 11219
                             | 2 x 11220
                             | 1 x 11204
-------------|---------------
('WEST END AVE', 'MANHATTAN') | 2 x 10023
                             | 1 x 10024
-------------|---------------
('4 AVE', 'BROOKLYN') | 6 x 11232
                             | 5 x 11220
                             | 2 x 11209
                             | 2 x 11215
                             | 1 x 11217
-------------|---------------
('UNIVERSITY AVE', 'BRONX') | 3 x 10453
                             | 1 x 10468
                             | 1 x 10452
-------------|---------------
('CROSS ISLAND PKWY', 'QUEENS') | 1 x 11426
                             | 1 x 11362
-------------|---------------
('AVENUE J', 'BROOKLYN') | 12 x 11230
                             | 2 x 11236
                             | 1 x 11234
-------------|---------------
('3 AVE', 'BROOKLYN') | 12 x 11232
                             | 8 x 11220
                             | 2 x 11215
                             | 1 x 11209
-------------|---------------
('57 EAST 57 ST', 'BROOKLYN') | 1 x 11234
                             | 1 x 11203
-------------|---------------
('BRONX BLVD', 'BRONX') | 2 x 10466
                             | 1 x 10467
-------------|---------------

('11 AVE', 'BROOKLYN') | 6 x 11219
                             | 1 x 11228
-------------|---------------
('MAIN ST', 'QUEENS') | 4 x 11367
                             | 3 x 11355
                             | 2 x 11435
                             | 1 x 11354
-------------|---------------
('31 ST', 'QUEENS') | 3 x 11102
                             | 2 x 11101
                             | 2 x 11106
                             | 1 x 11105
-------------|---------------
('AVENUE K', 'BROOKLYN') | 2 x 11230
                             | 1 x 11236
-------------|---------------
('DEAN ST', 'BROOKLYN') | 2 x 11217
                             | 1 x 11233
                             | 1 x 11238
-------------|---------------
('40 ST', 'BROOKLYN') | 2 x 11218
                             | 1 x 11219
-------------|---------------
('45 ST', 'BROOKLYN') | 3 x 11219
                             | 1 x 11220
-------------|---------------
('19 AVE', 'BROOKLYN') | 5 x 11204
                             | 1 x 11214
-------------|---------------
('RICHMOND TER', 'STATEN ISLAND') | 2 x 10301
                             | 1 x 10310
-------------|---------------
('44 ST', 'BROOKLYN') | 4 x 11219
                             | 3 x 11220
-------------|---------------
('PARK AVE', 'MANHATTAN') | 9 x 10029
                             | 7 x 10022
                             | 4 x 10016
                             | 2 x 10065
                             | 1 x 10037
                             | 1 x 10177
                             | 1 x 10028
                             | 1 x 10128
-------------|---------------
('89 AVE', 'QUEENS') | 2 x 11432
                             | 1 x 11418
                             | 1 x 11427
-------------|---------------
('47 ST', 'BROOKLYN') | 6 x 11219
                             | 2 x 11204
-------------|---------------
('MARATHON PKWY', 'QUEENS') | 2 x 11363
                             | 1 x 11362
-------------|---------------
('HOWARD AVE', 'BROOKLYN') | 2 x 11233
                             | 1 x 11212
-------------|---------------
('EAST 97 ST', 'MANHATTAN') | 3 x 10128
                             | 3 x 10029
-------------|---------------
('37 AVE', 'QUEENS') | 3 x 11101
                             | 2 x 11368
                             | 2 x 11372
                             | 1 x 11354
-------------|---------------
('38 ST', 'BROOKLYN') | 3 x 11218
                             | 1 x 11232
                             | 1 x 11219
-------------|---------------
('AUDUBON AVE', 'MANHATTAN') | 2 x 10033
                             | 1 x 10032
-------------|---------------
('BELL BLVD', 'QUEENS') | 11 x 11361
                             | 3 x 11364
                             | 1 x 11427
-------------|---------------
('49 ST', 'BROOKLYN') | 5 x 11219
                             | 2 x 11220
-------------|---------------
('210 ST', 'QUEENS') | 1 x 11364
                             | 1 x 11361
-------------|---------------
('59 ST', 'BROOKLYN') | 3 x 11204
                             | 1 x 11220
-------------|---------------
('HYLAN BLVD', 'STATEN ISLAND') | 14 x 10306
                             | 3 x 10305
                             | 1 x 10312
                             | 1 x 10309
-------------|---------------
('EAST 165 ST', 'BRONX') | 2 x 10452
                             | 1 x 10456
-------------|---------------
('59 AVE', 'QUEENS') | 1 x 11364
                             | 1 x 11362
                             | 1 x 11355
-------------|---------------
('EAST 7 ST', 'BROOKLYN') | 3 x 11230
                             | 2 x 11218
                             | 1 x 11223
-------------|---------------
('GRAND ST', 'BROOKLYN') | 2 x 11211
                             | 1 x 11237
                             | 1 x 11206
-------------|---------------
('CENTRAL PARK WEST', 'MANHATTAN') | 5 x 10024
                             | 4 x 10023
                             | 3 x 10025
                             | 1 x 10026
-------------|---------------
('DYER AVE', 'MANHATTAN') | 1 x 10036
                             | 1 x 10018
-------------|---------------
('166 ST', 'QUEENS') | 1 x 11434
                             | 1 x 11358
-------------|---------------
('124 ST', 'QUEENS') | 2 x 11415
                             | 1 x 11419
-------------|---------------
('18 EAST 18 ST', 'BROOKLYN') | 2 x 11226
                             | 1 x 11230
-------------|---------------
('19 WEST ST', 'MANHATTAN') | 8 x 10011
                             | 1 x 10004
-------------|---------------
('WEST 150 ST', 'MANHATTAN') | 1 x 10039
                             | 1 x 10031
-------------|---------------
('KISSENA BLVD', 'QUEENS') | 5 x 11367
                             | 3 x 11355
-------------|---------------
('BROWVALE LN', 'QUEENS') | 1 x 11362
                             | 1 x 11363
-------------|---------------
('HARMAN ST', 'BROOKLYN') | 1 x 11237
                             | 1 x 11221
-------------|---------------
('EAST 77 ST', 'MANHATTAN') | 4 x 10075
                             | 1 x 10021
-------------|---------------
('43 AVE', 'QUEENS') | 2 x 11101
                             | 2 x 11361
                             | 2 x 11368
-------------|---------------
('3 AVE', 'BRONX') | 6 x 10457
                             | 4 x 10451
                             | 3 x 10456
                             | 1 x 10455
-------------|---------------
('UNION TPKE', 'QUEENS') | 3 x 11364
                             | 3 x 11366
                             | 1 x 11375
                             | 1 x 11435
                             | 1 x 11004
                             | 1 x 11367
                             | 1 x 11426
-------------|---------------
('QUEENS BLVD', 'QUEENS') | 9 x 11373
                             | 6 x 11377
                             | 6 x 11104
                             | 4 x 11101
                             | 3 x 11415
                             | 2 x 11374
                             | 1 x 11375
-------------|---------------
('CROSS BAY BLVD', 'QUEENS') | 6 x 11414
                             | 4 x 11417
-------------|---------------
('WEBSTER AVE', 'BRONX') | 6 x 10458
                             | 3 x 10470
                             | 2 x 10467
                             | 2 x 10457
                             | 1 x 10456
-------------|---------------
('45 AVE', 'QUEENS') | 2 x 11358
                             | 1 x 11355
-------------|---------------
('PARK AVENUE SOUTH', 'MANHATTAN') | 5 x 10010
                             | 4 x 10003
                             | 3 x 10016
-------------|---------------
('NORTH CONDUIT AVE', 'QUEENS') | 7 x 11434
                             | 6 x 11420
                             | 3 x 11430
                             | 2 x 11414
                             | 1 x 11436
                             | 1 x 11413
-------------|---------------
('HORACE HARDING EXPY', 'QUEENS') | 4 x 11364
                             | 2 x 11362
                             | 1 x 11367
                             | 1 x 11355
                             | 1 x 11374
                             | 1 x 11368
-------------|---------------
('29 ST', 'QUEENS') | 2 x 11102
                             | 2 x 11106
-------------|---------------
('ATLANTIC AVE', 'QUEENS') | 4 x 11418
                             | 3 x 11419
-------------|---------------
('RIVER AVE', 'BRONX') | 5 x 10451
                             | 2 x 10452
-------------|---------------
('DELANCEY ST', 'MANHATTAN') | 15 x 10002
                             | 2 x 10013
-------------|---------------
('SOUTH AVE', 'STATEN ISLAND') | 2 x 10314
                             | 1 x 10303
-------------|---------------
('168 ST', 'QUEENS') | 1 x 11433
                             | 1 x 11434
-------------|---------------
('RIVERSIDE DR', 'MANHATTAN') | 7 x 10024
                             | 2 x 10034
                             | 2 x 10032
                             | 1 x 10025
-------------|---------------
('MADISON AVE', 'MANHATTAN') | 9 x 10029
                             | 7 x 10022
                             | 3 x 10128
                             | 3 x 10016
                             | 2 x 10021
                             | 1 x 10017
                             | 1 x 10065
                             | 1 x 10010
                             | 1 x 10153
                             | 1 x 10028
-------------|---------------
('ROCKAWAY BEACH BLVD', 'QUEENS') | 1 x 11692
                             | 1 x 11694
-------------|---------------
('EAST 47 ST', 'MANHATTAN') | 3 x 10017
                             | 2 x 10177
                             | 1 x 10167
-------------|---------------

('FDR DR', 'MANHATTAN') | 7 x 10010
                             | 2 x 10002
                             | 2 x 10017
                             | 2 x 10016
                             | 1 x 10128
-------------|---------------
('AVENUE D', 'BROOKLYN') | 1 x 11226
                             | 1 x 11236
-------------|---------------
('214 PLACE', 'QUEENS') | 2 x 11361
                             | 1 x 11360
-------------|---------------
('BROADWAY', 'BRONX') | 5 x 10463
                             | 1 x 10471
-------------|---------------
('40 AVE', 'QUEENS') | 3 x 11101
                             | 1 x 11361
-------------|---------------
('1 WATERSIDE PLZ', 'BROOKLYN') | 1 x 11235
                             | 1 x 11205
-------------|---------------
('46 AVE', 'QUEENS') | 2 x 11358
                             | 1 x 11361
-------------|---------------
('EAST HOUSTON ST', 'MANHATTAN') | 8 x 10002
                             | 3 x 10012
                             | 1 x 10009
-------------|---------------
('HILLSIDE AVE', 'QUEENS') | 6 x 11432
                             | 3 x 11423
                             | 2 x 11435
                             | 2 x 11426
                             | 2 x 11427
                             | 1 x 11004
-------------|---------------
('PITKIN AVE', 'BROOKLYN') | 2 x 11207
                             | 2 x 11212
                             | 1 x 11208
-------------|---------------
('33 AVE', 'QUEENS') | 1 x 11361
                             | 1 x 11358
-------------|---------------
('9 AVE', 'MANHATTAN') | 4 x 10001
                             | 3 x 10036
                             | 2 x 10011
                             | 2 x 10018
                             | 2 x 10014
                             | 1 x 10034
                             | 1 x 10019
-------------|---------------
('BAINBRIDGE AVE', 'BRONX') | 4 x 10467
                             | 2 x 10458
-------------|---------------
('30 AVE', 'QUEENS') | 5 x 11102
                             | 3 x 11103
                             | 1 x 11360
-------------|---------------
('ARTHUR KILL RD', 'STATEN ISLAND') | 4 x 10312
                             | 1 x 10306
-------------|---------------
('212 ST', 'QUEENS') | 1 x 11361
                             | 1 x 11364
                             | 1 x 11428
-------------|---------------
('7 AVE', 'MANHATTAN') | 4 x 10011
                             | 4 x 10001
                             | 2 x 10036
                             | 2 x 10019
                             | 2 x 10030
-------------|---------------
('EAST 178 ST', 'BRONX') | 2 x 10457
                             | 1 x 10460
-------------|---------------
('COZINE AVE', 'BROOKLYN') | 1 x 11208
                             | 1 x 11207
-------------|---------------
('RICHMOND RD', 'STATEN ISLAND') | 5 x 10306
                             | 3 x 10304
-------------|---------------
('41 AVE', 'QUEENS') | 5 x 11101
                             | 4 x 11355
                             | 2 x 11361
-------------|---------------
('114 ST', 'QUEENS') | 1 x 11420
                             | 1 x 11419
                             | 1 x 11418
-------------|---------------
('73 AVE', 'QUEENS') | 4 x 11364
                             | 3 x 11365
-------------|---------------
('DOUGLASTON PKWY', 'QUEENS') | 4 x 11362
                             | 1 x 11363
-------------|---------------
('7 AVE', 'BROOKLYN') | 10 x 11220
                             | 2 x 11215
                             | 1 x 11232
-------------|---------------
('MORRIS PARK AVE', 'BRONX') | 2 x 10462
                             | 1 x 10461
                             | 1 x 10460
-------------|---------------
('35 AVE', 'QUEENS') | 5 x 11361
                             | 2 x 11354
                             | 1 x 11358
                             | 1 x 11106
                             | 1 x 11101
-------------|---------------
('METROPOLITAN AVE', 'QUEENS') | 5 x 11379
                             | 3 x 11385
                             | 1 x 11378
                             | 1 x 11418
                             | 1 x 11415
                             | 1 x 11375
-------------|---------------
('38 10 138 ST', 'QUEENS') | 2 x 11354
                             | 1 x 11355
-------------|---------------
('1 WATERSIDE PLZ', 'MANHATTAN') | 3 x 10010
                             | 1 x 10003
-------------|---------------
('CLEARVIEW EXPY', 'QUEENS') | 3 x 11361
                             | 1 x 11360
-------------|---------------
('WEST 41 ST', 'MANHATTAN') | 5 x 10018
                             | 2 x 10036
-------------|---------------
('146 ST', 'QUEENS') | 1 x 11355
                             | 1 x 11354
-------------|---------------
('ROOSEVELT AVE', 'QUEENS') | 3 x 11368
                             | 2 x 11373
                             | 2 x 11372
                             | 1 x 11377
                             | 1 x 11354
-------------|---------------
('UTOPIA PKWY', 'QUEENS') | 5 x 11365
                             | 2 x 11358
                             | 2 x 11432
-------------|---------------
('EAST 34 ST', 'MANHATTAN') | 11 x 10016
                             | 1 x 10001
                             | 1 x 10010
-------------|---------------
('SEDGWICK AVE', 'BRONX') | 4 x 10453
                             | 1 x 10463
-------------|---------------
('BROADWAY', 'BROOKLYN') | 7 x 11233
                             | 5 x 11206
                             | 2 x 11211
                             | 2 x 11207
                             | 1 x 11221
-------------|---------------
('53 AVE', 'QUEENS') | 1 x 11364
                             | 1 x 11365
                             | 1 x 11378
-------------|---------------
('UNION ST', 'BROOKLYN') | 2 x 11225
                             | 1 x 11233
                             | 1 x 11213
                             | 1 x 11215
-------------|---------------
('WASHINGTON ST', 'MANHATTAN') | 1 x 10007
                             | 1 x 10014
                             | 1 x 10006
-------------|---------------
('79 WEST DR', 'MANHATTAN') | 1 x 10024
                             | 1 x 10029
-------------|---------------
('31 AVE', 'QUEENS') | 1 x 11354
                             | 1 x 11103
                             | 1 x 11377
                             | 1 x 11370
                             | 1 x 11106
                             | 1 x 11369
-------------|---------------
('KINGS HWY', 'BROOKLYN') | 7 x 11223
                             | 3 x 11203
                             | 1 x 11234
                             | 1 x 11229
-------------|---------------
('116 AVE', 'QUEENS') | 2 x 11434
                             | 1 x 11436
-------------|---------------
('GATES AVE', 'BROOKLYN') | 2 x 11221
                             | 1 x 11238
-------------|---------------
('CRESTON AVE', 'BRONX') | 2 x 10468
                             | 1 x 10453
-------------|---------------
('2 AVE', 'BROOKLYN') | 8 x 11220
                             | 3 x 11232
                             | 1 x 11215
-------------|---------------
('ELDERT ST', 'BROOKLYN') | 1 x 11233
                             | 1 x 11207
-------------|---------------
('EAST DR 71', 'MANHATTAN') | 1 x 10019
                             | 1 x 10007
-------------|---------------
('BROADWAY', 'QUEENS') | 4 x 11373
                             | 2 x 11103
                             | 2 x 11106
                             | 1 x 11377
                             | 1 x 11372
-------------|---------------
('30 ST', 'QUEENS') | 2 x 11101
                             | 2 x 11106
-------------|---------------
('80 ST', 'QUEENS') | 3 x 11379
                             | 1 x 11372
                             | 1 x 11373
-------------|---------------
('WILLIAMSBURG STREET WEST', 'BROOKLYN') | 2 x 11205
                             | 2 x 11211
-------------|---------------
('138 ST', 'QUEENS') | 1 x 11435
                             | 1 x 11367
-------------|---------------
('85 EAST DR', 'BROOKLYN') | 1 x 11208
                             | 1 x 11225
-------------|---------------
('97 EAST DR', 'MANHATTAN') | 1 x 10021
                             | 1 x 10011
-------------|---------------
('PROSPECT AVE', 'BROOKLYN') | 3 x 11215
                             | 1 x 11232
-------------|---------------
('HALSEY ST', 'BROOKLYN') | 3 x 11233
                             | 2 x 11207
                             | 1 x 11216
-------------|---------------
('32 AVE', 'QUEENS') | 3 x 11354
                             | 1 x 11364
                             | 1 x 11377
                             | 1 x 11369
                             | 1 x 11372
-------------|---------------

('18 ST', 'BROOKLYN') | 1 x 11215
                             | 1 x 11232
-------------|---------------
('HAMILTON AVE', 'BROOKLYN') | 4 x 11215
                             | 1 x 11231
-------------|---------------
('FORT WASHINGTON AVE', 'MANHATTAN') | 2 x 10032
                             | 1 x 10040
-------------|---------------
('12 AVE', 'MANHATTAN') | 3 x 10019
                             | 1 x 10027
-------------|---------------
('32 ST', 'QUEENS') | 1 x 11106
                             | 1 x 11102
-------------|---------------
('205 ST', 'QUEENS') | 1 x 11361
                             | 1 x 11412
-------------|---------------
('EAST 49 ST', 'MANHATTAN') | 5 x 10017
                             | 4 x 10171
-------------|---------------
('SHERIDAN AVE', 'BRONX') | 1 x 10456
                             | 1 x 10451
-------------|---------------
('DYCKMAN ST', 'MANHATTAN') | 2 x 10033
                             | 2 x 10040
-------------|---------------
('195 ST', 'QUEENS') | 2 x 11358
                             | 1 x 11423
-------------|---------------
('WHITE PLAINS RD', 'BRONX') | 5 x 10473
                             | 3 x 10472
                             | 1 x 10467
                             | 1 x 10470
                             | 1 x 10462
                             | 1 x 10466
                             | 1 x 10460
-------------|---------------
('STILLWELL AVE', 'BROOKLYN') | 4 x 11214
                             | 2 x 11224
-------------|---------------
('5 AVE', 'BROOKLYN') | 5 x 11232
                             | 4 x 11220
                             | 2 x 11215
-------------|---------------
('YORK AVE', 'MANHATTAN') | 5 x 10065
                             | 5 x 10021
                             | 2 x 10022
                             | 2 x 10075
                             | 1 x 10028
-------------|---------------
('AVENUE C', 'MANHATTAN') | 5 x 10009
                             | 3 x 10010
-------------|---------------
('LENOX AVE', 'MANHATTAN') | 5 x 10027
                             | 2 x 10026
                             | 1 x 10030
-------------|---------------
('89 ST', 'QUEENS') | 1 x 11416
                             | 1 x 11369
-------------|---------------
('65 ST', 'BROOKLYN') | 6 x 11219
                             | 6 x 11220
                             | 4 x 11204
-------------|---------------
('FARMERS BLVD', 'QUEENS') | 6 x 11412
                             | 5 x 11434
-------------|---------------
('DE KALB AVE', 'BROOKLYN') | 3 x 11205
                             | 2 x 11237
                             | 2 x 11216
                             | 1 x 11221
                             | 1 x 11217
-------------|---------------
('WEST 146 ST', 'MANHATTAN') | 1 x 10031
                             | 1 x 10039
-------------|---------------
('EAST 163 ST', 'BRONX') | 2 x 10456
                             | 1 x 10451
-------------|---------------
('CROSS BRONX EXPY', 'BRONX') | 2 x 10460
                             | 1 x 10462
-------------|---------------
('MEEKER AVE', 'BROOKLYN') | 4 x 11222
                             | 1 x 11211
-------------|---------------
('111 AVE', 'QUEENS') | 3 x 11420
                             | 2 x 11435
                             | 1 x 11433
-------------|---------------
('67 AVE', 'QUEENS') | 2 x 11365
                             | 1 x 11364
                             | 1 x 11385
-------------|---------------
('78 ST', 'QUEENS') | 1 x 11370
                             | 1 x 11421
-------------|---------------
('160 ST', 'QUEENS') | 2 x 11433
                             | 1 x 11432
                             | 1 x 11358
                             | 1 x 11366
-------------|---------------
('HOLLIS AVE', 'QUEENS') | 2 x 11412
                             | 1 x 11429
-------------|---------------
('33 ST', 'QUEENS') | 2 x 11102
                             | 2 x 11106
-------------|---------------
('EDGECOMBE AVE', 'MANHATTAN') | 2 x 10032
                             | 1 x 10030
-------------|---------------
('EAST 17 ST', 'BROOKLYN') | 1 x 11235
                             | 1 x 11230
                             | 1 x 11229
-------------|---------------
('CRESCENT ST', 'QUEENS') | 8 x 11101
                             | 2 x 11106
                             | 1 x 11102
                             | 1 x 11105
-------------|---------------
('148 ST', 'QUEENS') | 1 x 11435
                             | 1 x 11436
-------------|---------------
('WEST 5 ST', 'BROOKLYN') | 1 x 11223
                             | 1 x 11224
-------------|---------------
('DECATUR AVE', 'BRONX') | 3 x 10458
                             | 1 x 10467
-------------|---------------
('BARTOW AVE', 'BRONX') | 2 x 10469
                             | 1 x 10475
-------------|---------------
('HUMBOLDT ST', 'BROOKLYN') | 2 x 11222
                             | 1 x 11206
                             | 1 x 11211
-------------|---------------
('72 AVE', 'QUEENS') | 1 x 11426
                             | 1 x 11365
-------------|---------------
('RUTLAND RD', 'BROOKLYN') | 2 x 11203
                             | 1 x 11225
-------------|---------------
('57 AVE', 'QUEENS') | 2 x 11373
                             | 1 x 11368
-------------|---------------
('117 ST', 'QUEENS') | 1 x 11419
                             | 1 x 11415
-------------|---------------
('199 ST', 'QUEENS') | 2 x 11365
                             | 1 x 11423
-------------|---------------
('MANHATTAN AVE', 'BROOKLYN') | 4 x 11222
                             | 1 x 11211
-------------|---------------
('59 ST', 'QUEENS') | 2 x 11377
                             | 1 x 11378
-------------|---------------
('LAFAYETTE ST', 'MANHATTAN') | 2 x 10012
                             | 1 x 10013
-------------|---------------
('46 ST', 'QUEENS') | 2 x 11103
                             | 1 x 11101
                             | 1 x 11105
-------------|---------------
('EAST 187 ST', 'BRONX') | 1 x 10460
                             | 1 x 10458
-------------|---------------
('EAST 172 ST', 'BRONX') | 4 x 10472
                             | 1 x 10457
                             | 1 x 10460
-------------|---------------
('38 AVE', 'QUEENS') | 2 x 11354
                             | 1 x 11368
                             | 1 x 11377
                             | 1 x 11101
-------------|---------------
('68 ST', 'BROOKLYN') | 1 x 11204
                             | 1 x 11219
-------------|---------------
('BOSTON RD', 'BRONX') | 5 x 10466
                             | 4 x 10460
                             | 3 x 10456
                             | 2 x 10469
                             | 1 x 10467
-------------|---------------
('189 ST', 'QUEENS') | 1 x 11412
                             | 1 x 11358
-------------|---------------
('ARTHUR AVE', 'BRONX') | 2 x 10457
                             | 1 x 10458
-------------|---------------
('GRAVESEND NECK RD', 'BROOKLYN') | 2 x 11223
                             | 1 x 11229
-------------|---------------
('150 ST', 'QUEENS') | 2 x 11367
                             | 2 x 11435
                             | 1 x 11436
-------------|---------------
('AVENUE X', 'BROOKLYN') | 1 x 11229
                             | 1 x 11223
-------------|---------------
('36 ST', 'QUEENS') | 1 x 11105
                             | 1 x 11103
-------------|---------------
('FRESH POND RD', 'QUEENS') | 3 x 11385
                             | 1 x 11378
-------------|---------------
('EAST 170 ST', 'BRONX') | 2 x 10456
                             | 1 x 10452
-------------|---------------
('38 ST', 'QUEENS') | 3 x 11103
                             | 1 x 11101
-------------|---------------
('BRADDOCK AVE', 'QUEENS') | 2 x 11426
                             | 1 x 11427
-------------|---------------
('12 ST', 'QUEENS') | 2 x 11101
                             | 1 x 11106
-------------|---------------
('34 ST', 'QUEENS') | 2 x 11101
                             | 1 x 11103
-------------|---------------
('EAST GUN HILL RD', 'BRONX') | 4 x 10467
                             | 2 x 10469
-------------|---------------
('WEST 149 ST', 'MANHATTAN') | 1 x 10031
                             | 1 x 10039
-------------|---------------
('164 ST', 'QUEENS') | 2 x 11432
                             | 1 x 11366
-------------|---------------
('BAY RIDGE PKWY', 'BROOKLYN') | 3 x 11209
                             | 2 x 11214
                             | 1 x 11204
                             | 1 x 11228
-------------|---------------
('188 ST', 'QUEENS') | 5 x 11365
                             | 3 x 11432
                             | 1 x 11423
-------------|---------------
('RIVERDALE AVE', 'BROOKLYN') | 1 x 11207
                             | 1 x 11212
-------------|---------------

('COURT ST', 'BROOKLYN') | 2 x 11201
                             | 1 x 11231
-------------|---------------
('SOUTHERN BLVD', 'BRONX') | 3 x 10460
                             | 2 x 10458
-------------|---------------
('EAST 180 ST', 'BRONX') | 1 x 10460
                             | 1 x 10457
-------------|---------------
('EAST 14 ST', 'MANHATTAN') | 8 x 10003
                             | 1 x 10009
-------------|---------------
('NEPTUNE AVE', 'BROOKLYN') | 3 x 11224
                             | 2 x 11235
-------------|---------------
('60 AVE', 'QUEENS') | 1 x 11378
                             | 1 x 11373
-------------|---------------
('41 RD', 'QUEENS') | 1 x 11355
                             | 1 x 11101
-------------|---------------
('COLLEGE POINT BLVD', 'QUEENS') | 5 x 11354
                             | 5 x 11355
                             | 1 x 11368
-------------|---------------
('48 ST', 'QUEENS') | 3 x 11378
                             | 1 x 11103
-------------|---------------
('109 AVE', 'QUEENS') | 1 x 11417
                             | 1 x 11420
-------------|---------------
('26 AVE', 'QUEENS') | 1 x 11354
                             | 1 x 11360
                             | 1 x 11358
-------------|---------------
('VANWYCK EXPY', 'QUEENS') | 2 x 11420
                             | 1 x 11418
-------------|---------------
('153 ST', 'QUEENS') | 1 x 11355
                             | 1 x 11367
-------------|---------------
('PARSONS BLVD', 'QUEENS') | 2 x 11354
                             | 1 x 11432
                             | 1 x 11367
                             | 1 x 11355
-------------|---------------
('WASHINGTON AVE', 'BROOKLYN') | 3 x 11238
                             | 3 x 11225
-------------|---------------
('SCHENECTADY AVE', 'BROOKLYN') | 1 x 11203
                             | 1 x 11213
-------------|---------------
('23 ST', 'QUEENS') | 3 x 11102
                             | 2 x 11101
-------------|---------------
('127 ST', 'QUEENS') | 1 x 11356
                             | 1 x 11419
-------------|---------------
('201 ST', 'QUEENS') | 1 x 11361
                             | 1 x 11360
-------------|---------------
('56 ST', 'BROOKLYN') | 3 x 11219
                             | 3 x 11220
-------------|---------------
('49 ST', 'QUEENS') | 2 x 11377
                             | 1 x 11103
-------------|---------------
('HERKIMER ST', 'BROOKLYN') | 1 x 11233
                             | 1 x 11216
-------------|---------------
('25 WASHINGTON AVE', 'BROOKLYN') | 1 x 11211
                             | 1 x 11205
-------------|---------------
('20 AVE', 'QUEENS') | 2 x 11105
                             | 1 x 11356
-------------|---------------
('36 ST', 'BROOKLYN') | 2 x 11218
                             | 1 x 11215
                             | 1 x 11232
-------------|---------------
('62 ST', 'BROOKLYN') | 4 x 11220
                             | 1 x 11204
                             | 1 x 11219
-------------|---------------
('STATE ST', 'BROOKLYN') | 3 x 11201
                             | 1 x 11217
-------------|---------------
('42 ST', 'QUEENS') | 3 x 11105
                             | 1 x 11103
-------------|---------------
('DITMAS AVE', 'BROOKLYN') | 3 x 11218
                             | 1 x 11226
-------------|---------------
('73 ST', 'QUEENS') | 3 x 11372
                             | 1 x 11370
-------------|---------------
('71 ST', 'QUEENS') | 1 x 11385
                             | 1 x 11379
-------------|---------------
('RICHMOND AVE', 'STATEN ISLAND') | 2 x 10314
                             | 1 x 10302
                             | 1 x 10312
-------------|---------------
('COOPER AVE', 'QUEENS') | 3 x 11385
                             | 1 x 11379
-------------|---------------
('57 ST', 'BROOKLYN') | 2 x 11219
                             | 1 x 11220
-------------|---------------
('FLUSHING AVE', 'QUEENS') | 2 x 11378
                             | 1 x 11385
-------------|---------------
('EAST 168 ST', 'BRONX') | 1 x 10456
                             | 1 x 10452
-------------|---------------
('23 AVE', 'QUEENS') | 2 x 11369
                             | 1 x 11105
                             | 1 x 11370
-------------|---------------
('19 ST', 'BROOKLYN') | 2 x 11232
                             | 1 x 11218
-------------|---------------
('58 ST', 'QUEENS') | 4 x 11377
                             | 1 x 11378
-------------|---------------
('DITMARS BLVD', 'QUEENS') | 2 x 11370
                             | 2 x 11105
                             | 1 x 11369
-------------|---------------
('SAINT NICHOLAS AVE', 'MANHATTAN') | 3 x 10031
                             | 2 x 10027
                             | 1 x 10026
                             | 1 x 10032
                             | 1 x 10033
-------------|---------------
('187 ST', 'QUEENS') | 1 x 11432
                             | 1 x 11365
-------------|---------------
('EAST 167 ST', 'BRONX') | 2 x 10456
                             | 2 x 10452
-------------|---------------
('GLENWOOD RD', 'BROOKLYN') | 3 x 11210
                             | 2 x 11236
                             | 1 x 11230
-------------|---------------
('VANDUZER ST', 'STATEN ISLAND') | 2 x 10301
                             | 1 x 10304
-------------|---------------
('WEST 110 ST', 'MANHATTAN') | 3 x 10025
                             | 1 x 10026
-------------|---------------
('BOYLAND ST', 'BROOKLYN') | 1 x 11212
                             | 1 x 11233
-------------|---------------
('WALTON AVE', 'BRONX') | 4 x 10452
                             | 3 x 10453
-------------|---------------
('PARK AVE', 'BRONX') | 3 x 10457
                             | 2 x 10456
                             | 2 x 10451
                             | 2 x 10458
-------------|---------------
('FOSTER AVE', 'BROOKLYN') | 1 x 11210
                             | 1 x 11230
                             | 1 x 11226
-------------|---------------
('DUMONT AVE', 'BROOKLYN') | 1 x 11207
                             | 1 x 11208
-------------|---------------
('79 ST', 'BROOKLYN') | 1 x 11228
                             | 1 x 11214
-------------|---------------
('LELAND AVE', 'BRONX') | 1 x 10472
                             | 1 x 10460
-------------|---------------
('211 ST', 'QUEENS') | 1 x 11427
                             | 1 x 11361
-------------|---------------
('60 LN', 'QUEENS') | 1 x 11378
                             | 1 x 11385
-------------|---------------
('BOWERY', 'MANHATTAN') | 2 x 10013
                             | 2 x 10012
-------------|---------------
('WILLOUGHBY AVE', 'BROOKLYN') | 2 x 11206
                             | 1 x 11237
                             | 1 x 11221
-------------|---------------
('111 ST', 'QUEENS') | 1 x 11419
                             | 1 x 11369
-------------|---------------
('WEST 112 ST', 'MANHATTAN') | 1 x 10025
                             | 1 x 10026
-------------|---------------
('AVERY AVE', 'QUEENS') | 1 x 11368
                             | 1 x 11356
-------------|---------------
('28 EAST 28 ST', 'BROOKLYN') | 1 x 11226
                             | 1 x 11210
-------------|---------------
('LEFFERTS AVE', 'BROOKLYN') | 1 x 11203
                             | 1 x 11225
-------------|---------------
('LORIMER ST', 'BROOKLYN') | 3 x 11211
                             | 2 x 11206
-------------|---------------
('HENRY ST', 'MANHATTAN') | 3 x 10002
                             | 1 x 10038
-------------|---------------
('58 RD', 'QUEENS') | 1 x 11355
                             | 1 x 11378
-------------|---------------
('132 ST', 'QUEENS') | 1 x 11419
                             | 1 x 11420
-------------|---------------
('97 ST', 'QUEENS') | 1 x 11416
                             | 1 x 11414
                             | 1 x 11368
-------------|---------------
('EAST 50 ST', 'MANHATTAN') | 4 x 10017
                             | 3 x 10022
-------------|---------------
('76 AVE', 'QUEENS') | 2 x 11367
                             | 1 x 11375
                             | 1 x 11366
-------------|---------------
('FULTON AVE', 'BRONX') | 2 x 10456
                             | 2 x 10457
-------------|---------------

('EAST 39 ST', 'MANHATTAN') | 3 x 10016
                             | 1 x 10018
-------------|---------------
('EMPIRE BLVD', 'BROOKLYN') | 5 x 11225
                             | 2 x 11213
-------------|---------------
('118 ST', 'QUEENS') | 1 x 11415
                             | 1 x 11419
-------------|---------------
('71 AVE', 'QUEENS') | 1 x 11375
                             | 1 x 11385
-------------|---------------
('222 ST', 'QUEENS') | 1 x 11429
                             | 1 x 11428
-------------|---------------
('BLAKE AVE', 'BROOKLYN') | 4 x 11212
                             | 1 x 11208
-------------|---------------
('69 ST', 'QUEENS') | 1 x 11379
                             | 1 x 11377
-------------|---------------
('VALENTINE AVE', 'BRONX') | 2 x 10458
                             | 1 x 10457
-------------|---------------
('WOODSIDE AVE', 'QUEENS') | 2 x 11377
                             | 1 x 11373
                             | 1 x 11104
-------------|---------------
('CASTLE HILL AVE', 'BRONX') | 4 x 10473
                             | 3 x 10462
                             | 1 x 10472
-------------|---------------
('EAST 87 ST', 'MANHATTAN') | 2 x 10128
                             | 1 x 10028
-------------|---------------
('84 ST', 'QUEENS') | 1 x 11372
                             | 1 x 11414
                             | 1 x 11370
                             | 1 x 11417
-------------|---------------
('74 ST', 'QUEENS') | 2 x 11378
                             | 1 x 11370
                             | 1 x 11373
-------------|---------------
('LEE AVE', 'BROOKLYN') | 3 x 11211
                             | 2 x 11206
-------------|---------------
('WILSON AVE', 'BROOKLYN') | 1 x 11221
                             | 1 x 11206
-------------|---------------
('SHORE PKWY', 'BROOKLYN') | 1 x 11223
                             | 1 x 11235
-------------|---------------
('86 ST', 'QUEENS') | 2 x 11421
                             | 1 x 11416
-------------|---------------
('87 ST', 'QUEENS') | 1 x 11372
                             | 1 x 11421
-------------|---------------
('WINTHROP ST', 'BROOKLYN') | 2 x 11203
                             | 1 x 11225
-------------|---------------
('82 AVE', 'QUEENS') | 1 x 11426
                             | 1 x 11435
-------------|---------------
('FOCH BLVD', 'QUEENS') | 1 x 11436
                             | 1 x 11434
-------------|---------------
('NEW YORK AVE', 'BROOKLYN') | 1 x 11216
                             | 1 x 11226
                             | 1 x 11225
-------------|---------------
('MYRTLE AVE', 'QUEENS') | 2 x 11385
                             | 1 x 11421
-------------|---------------
('OCEAN AVE', 'BROOKLYN') | 2 x 11230
                             | 2 x 11229
                             | 1 x 11235
                             | 1 x 11225
-------------|---------------
('WASHINGTON AVE', 'BRONX') | 1 x 10451
                             | 1 x 10456
-------------|---------------
('CROTONA AVE', 'BRONX') | 3 x 10457
                             | 1 x 10458
-------------|---------------
('101 AVE', 'QUEENS') | 1 x 11419
                             | 1 x 11416
-------------|---------------
('103 AVE', 'QUEENS') | 2 x 11419
                             | 2 x 11417
-------------|---------------
('120 AVE', 'QUEENS') | 2 x 11412
                             | 1 x 11434
-------------|---------------
('EAST 236 ST', 'BRONX') | 1 x 10466
                             | 1 x 10470
-------------|---------------
('130 AVE', 'QUEENS') | 2 x 11413
                             | 1 x 11436
-------------|---------------
('36 AVE', 'QUEENS') | 1 x 11106
                             | 1 x 11101
-------------|---------------
('AVENUE W', 'BROOKLYN') | 1 x 11223
                             | 1 x 11229
-------------|---------------
('104 ST', 'QUEENS') | 1 x 11418
                             | 1 x 11416
-------------|---------------
('ELIOT AVE', 'QUEENS') | 2 x 11379
                             | 1 x 11378
-------------|---------------
('WESTCHESTER AVE', 'MANHATTAN') | 1 x 10031
                             | 1 x 10007
-------------|---------------
('CLARENDON RD', 'BROOKLYN') | 1 x 11203
                             | 1 x 11226
-------------|---------------
('SUTTER AVE', 'QUEENS') | 1 x 11436
                             | 1 x 11417
-------------|---------------
('PARKING LOT 772 EDGEWATER RD', 'BRONX') | 28 x 10474
                             | 1 x 10473
-------------|---------------
('P L OF 995 MANOR RD', 'STATEN ISLAND') | 1 x 10314
                             | 1 x 10306
-------------|---------------
('1095 EAST 45 STREET PARKING LOT', 'BROOKLYN') | 1 x 11234
                             | 1 x 11203
-------------|---------------
('GAS STATION AT 1855 1 AVE', 'MANHATTAN') | 1 x 10028
                             | 1 x 10128
-------------|---------------
('90 30 METROPOLITAN AVE PARKING LOT', 'QUEENS') | 10 x 11374
                             | 2 x 11385
-------------|---------------
('PARKING LOT 160 10 CROSS BAY BLVD', 'QUEENS') | 2 x 11414
                             | 1 x 11420
-------------|---------------
('PARKING LOT OF 47 05 METROPOLITAN AVE', 'QUEENS') | 2 x 11378
                             | 1 x 11385
-------------|---------------
('75 09 WOODHAVEN BLVD PARKING LOT', 'QUEENS') | 3 x 11385
                             | 1 x 11374
-------------|---------------
('475 LOCKE ST', 'BROOKLYN') | 4 x 11208
                             | 1 x 11239
-------------|---------------

In [58]:
#for key in fd1_violations:
#    conflicts = distinct(fd1_violations.get(key), ['ZIP CODE']).most_common()
#    dataset_fix_missing.loc[(dataset_fix_missing['OFF STREET NAME']==key[0])&(dataset_fix_missing['BOROUGH']==key[1]),'ZIP CODE'] = ''
cleaned_data = dataset_fix_missing.reset_index()

In [59]:
cleaned_data

,index,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,COLLISION_ID
0,1,04/13/2021,21:35,BROOKLYN,11217,40.68358,-73.97617,,,620 ATLANTIC AVE,4407147
1,13,05/21/2019,22:50,BROOKLYN,11201,40.69754,-73.98312,GOLD ST,CONCORD ST,,4136992
2,15,02/26/2021,14:50,BRONX,10461,40.843464,-73.836,,,2819 MIDDLETOWN RD,4395664
3,17,03/31/2021,22:20,BROOKLYN,11234,40.626457,-73.918,RALPH AVE,AVENUE K,,4403773
4,18,04/06/2021,22:58,STATEN ISLAND,10312,40.526894,-74.16728,BARCLAY AVE,HYLAN BLVD,,4405244
...,...,...,...,...,...,...,...,...,...,...,...
1839251,1839189,07/09/2012,5:15,,,,,,,2601 OCEAN PARKWAY PARKING LOT,113583
1839252,1839208,07/02/2012,15:20,,,,,OCEAN PKWY,SHORE PKWY,,113554
1839253,1839223,07/09/2012,21:19,,,,,,,,2937609
1839254,1839238,07/06/2012,16:10,,,,,,,,2888480
1839255,1839249,07/08/2012,1:30,,,,,DIVISION AVE,MARCY AVE,,193887

In [60]:
cleaned_data.to_csv('cleaned_data.csv')

In [ ]:
cleaned_data